@import 'https://fonts.googleapis.com/css?family=Lato';

@font-face {
    font-family: 'socicon';
    src: font-url('socicon.eot');
    src: font-url('socicon.eot?#iefix') format('embedded-opentype'),
         font-url('socicon.woff') format('woff'),
         font-url('socicon.ttf') format('truetype'),
         font-url('socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}