<header>
	<a href="#top" class="logo_small">Cincinnati Design Week 2017 | September 25 - September 29 | Presented by AIGA Cincinnati and Openfield Creative</a>
	<a href="#" class="hamburger">Menu</a>
	<nav>
		<ul class="main">
			<li><a href="#presenters">Presenters</a></li><li><a href="#schedule">Schedule</a></li><li><a href="#tickets">Tickets</a></li><li><a href="#partners">Partners</a></li>
		</ul>
		<ul class="social">
			<li><a href="http://twitter.com/cincydesignweek" class="socicon-twitter"></a></li>
			<li><a href="http://www.facebook.com/CincinnatiDesignWeek" class="socicon-facebook"></a></li>
			<li><a href="https://www.instagram.com/cincydesignweek/" class="socicon-instagram"></a></li>
		</ul>
	</nav>
</header>
