<section class="intro" id="top">
	<img src="" alt="Cincinnati Design Week" id="cdw-logo">
	<p class="leadin">Welcome! Home to some of the world's best design agencies and schools, Cincinnati has placed itself in the forefront of global design. The wealth of resources and talent is unparalleled in the United States. Cincinnati Design Week is a multiple-day celebration of creativity made up of workshops, studio tours, panel discussions, and of course, great parties.</p>
</section>
