<header>
	<a href="#top" class="logo_small">Cincinnati Design Week 2015 | September 28 - October 2 | Presented by AIGA Cincinnati and AGAR</a>
	<a href="#" class="hamburger">Menu</a>
	<nav>
		<ul class="main">
			<li><a href="#presenters">Presenters</a></li><li><a href="#schedule">Schedule</a></li><li><a href="#tickets">Tickets</a></li><li><a href="#partners">Partners</a></li>
		</ul>
		<ul class="social">
			<li><a href="http://twitter.com/cincydesignweek">a</a></li><li><a href="http://www.facebook.com/CincinnatiDesignWeek">b</a></li>
		</ul>
	</nav>
</header>