<header>
	<a href="#top" class="logo_small">Cincinnati Design Week 2018 | September 17 - September 21 | Presented by AIGA Cincinnati</a>
	<a href="#" class="hamburger">Menu</a>
	<nav>
		<ul class="main">
      <li><a href="#schedule">Schedule</a></li>
      <!-- <li><a href="#presenters">Presenters</a></li> -->
			<li><a href="#tickets">Events</a></li>
			<li><a href="#partners">Partners</a></li>
			<li><a href="https://cincinnati.aiga.org/about-us/board-members/" target="_blank">About us</a></li>
		</ul>
		<ul class="social">
			<li><a href="http://twitter.com/aigacincinnati" class="socicon-twitter"></a></li>
			<li><a href="http://www.facebook.com/CincinnatiDesignWeek" class="socicon-facebook"></a></li>
			<li><a href="https://www.instagram.com/cincydesignweek/" class="socicon-instagram"></a></li>
		</ul>
	</nav>
</header>
