<section class="intro" id="top">
	<img src="" alt="Cincinnati Design Week" id="cdw-logo">
  <h1>September 25 - 29, 2017</h1>
  <p class="leadin">
    For decades Cincinnati has placed itself at the forefront of global design. Our 6th Annual Cincinnati Design Week is a weeklong celebration of creativity, featuring 15 events in just 5 days. You'll enjoy workshops, studio tours, panel discussions, keynote speakers, and of course, great parties. This year's lineup will help you make an impact in your career, community, and beyond. All races, ethnicities, genders, sexual orientation, and ability, are welcome to join us during #cdw17. We look forward to celebrating the power of design with both designers and design-enthusiasts.</p>

  <p class="leadin">
    Planning to attend 2+ events? Learn how to claim your limited edition swag bag <a href="http://cincinnati.aiga.org/cdw17-tickets-swag-bags/">here.</a>
  </p>
  <br>

</section>
