<section class="intro" id="top">
	<img src="" alt="Cincinnati Design Week" id="cdw-logo">
  <h1>September 25 - 29, 2017</h1>
  <p class="leadin">
    Thank you to everyone who attended our 6th Annual Cincinnati Design Week! Curating 15 incredible events in 5 days was a crazy challenge that wouldn't have been possible without your support.  We're sad to see the celebration pass but hope to see many of you throughout the year at AIGA Cincinnati (link to our site) events. Please check back in 2018 for details on our 7th Annual Cincinnati Design Week!
  </p>

  <p class="leadin">
    Thank you to our 6th Annual Cincinnati Design Week Sponsors. These awesome organizations donated time, resources, and cold hard cash to bring #cdw17 to life. We appreciate their generosity and commitment to our creative community. Interested in sponsoring #CDW18? Send an email to communications@aigacincinnati.org!
  </p>

</section>
