<section class="intro" id="top">
	<img src="" alt="Cincinnati Design Week" id="cdw-logo">
  <h1>September 17 - 21, 2018</h1>
  <h2><a href="https://cincinnati.aiga.org/upcoming-events/">Tickets are available now!</a></h2>
  <p class="leadin">
    For decades Cincinnati has placed itself at the forefront of global design. Our 7th Annual Cincinnati Design Week is a weeklong celebration of creativity, featuring 15+ events in just 5 days. You'll enjoy workshops, studio tours, panel discussions, keynote speakers, and of course, great parties. This year's lineup will help you make an impact in your career, community, and beyond. All races, ethnicities, genders, sexual orientation, and ability, are welcome to join us during #cdw18. We look forward to celebrating the power of design with both designers and design-enthusiasts.
  </p>
	<h5 class="leadin" style="text-align: center;">Don't forget to take advantage of special member rates by purchasing tickets through our website.</h5>
	<div style="text-align: center;">
		<a class="button" href="https://cincinnati.aiga.org/membership/membership-rates/" target="_blank">Not yet a member? Sign up today.</a>
	</div>

	<!--
	<p class="leadin">
		View events for the 7th annual Cincinnati Design Week on <a href="https://cincinnati.aiga.org/upcoming-events/">aigacincinnati.com</a>
	</p>
	<p class="leadin" id="leadin">
    Interested in sponsoring #CDW18? Send an email to <a href="mailto:communications@aigacincinnati.org" class="leadin">communications@aigacincinnati.org</a>!
  </p> -->
</section>
