<section class="intro" id="top">
	<img src="" alt="Cincinnati Design Week" id="cdw-logo">
  <h1>September 17 - 21, 2018</h1>
  <h2>Save The Date</h2>
  <p class="leadin">
    Look out for details for our 7th annual design week coming to the Queen City September 17-21, 2018.
  </p>

  <p class="leadin">
    Interested in sponsoring #CDW18? Send an email to communications@aigacincinnati.org!
  </p>

</section>
