<section class="intro" id="top">
	<img src="" alt="Cincinnati Design Week" id="cdw-logo">
  <h1>September 17 - 21, 2018</h1>
  <h2><a href="https://cincinnati.aiga.org/upcoming-events/">Tickets are available now!</a></h2>
  <p class="leadin">
    View events for the 7th annual Cincinnati Design Week on <a href="https://cincinnati.aiga.org/upcoming-events/">aigacincinnati.com</a>
  </p>

	<p class="leadin" id="leadin">
    Interested in sponsoring #CDW18? Send an email to <a href="mailto:communications@aigacincinnati.org" class="leadin">communications@aigacincinnati.org</a>!
  </p>
<!-- test comment for github -->
</section>
