<section id="partners">
	<!-- <aside>
		<h1>Partners</h1>
	</aside> -->
	<div style="margin-top: -100px;">
    <!-- Manually remove white space on thank you layout -->
		<h2>Presenting Partners</h2>
		<ul class="partners">
			<li><a href="http://aigacincinnati.org"><img src="images/partners/aiga-cincinnati.gif" alt="AIGA Cincinnati"></a></li>
      <li><a href="http://www.openfieldcreative.com/"><img src="images/partners/openfield-creative.jpg" alt="Openfield Creative"></a></li>
		</ul>
    <h2>Diamond Sponsor</h2>
		<ul class="partners">
			<li><a href="http://www.adobe.com/"><img src="images/partners/adobe.gif" alt="Adobe"></a></li>
		</ul>
		<h2>Platinum Partner</h2>
		<ul class="partners">
			<li><a href="https://landor.com/"><img src="images/partners/landor.jpg" alt="Landor"></a></li>
		</ul>
    <h2>Print Sponsor</h2>
    <ul class="partners">
      <li><a href="http://www.jakprints.com/"><img src="images/partners/jakprints.png" alt="Landor"></a></li>
    </ul>
		<h2>Gold Partner</h2>
		<ul class="partners">
			<li><a href="http://i74wired.com/"><img src="images/partners/74-wired.jpg" alt="74 Wired"></a></li>
		</ul>
		<h2>Silver Sponsor</h2>
		<ul class="partners">
      <li><a href="https://www.peoplesliberty.org/"><img src="images/partners/peoples-liberty.jpg" alt="People's Liberty"></a></li>
		</ul>
    <h2>Supporting Sponsors</h2>
    <ul class="partners">
      <li><a href="https://curiosity360.com/"><img src="images/partners/curiosity-advertising.png" alt="Curiosity Advertising"></a></li>
      <li><a href="http://www.hyperquake.com/"><img src="images/partners/hyperquake.gif" alt="Hyperquake"></a></li>
      <li><a href="https://www.americansignmuseum.org/"><img src="images/partners/americansignmuseum.jpg" alt="American Sign Museum"></a></li>
      <li><a href="https://www.homeadvisor.com/c.Cincinnati.OH.html"><img src="images/partners/ha-logo-title-sm.png" alt="Home Advisor"></a></li>
      <li><a href="https://www.kindsnacks.com/"><img src="images/partners/kindlogo_rgb_pos_1000px.png" alt="KIND"></a></li>

    </ul>
    <h2>Event Partners</h2>
    <ul class="partners">
      <li><a href="https://www.mohawkconnects.com/"><img src="images/partners/mohawk.jpg" alt="Mohawk"></a></li>
      <li><a href="https://emediadesign.co/"><img src="images/partners/emedia.jpg" alt="E Media"></a></li>
      <li><a href="https://d-impact.org/"><img src="images/partners/design-impact.jpg" alt="Design Impact"></a></li>
      <li><a href="http://www.millcraft.com/"><img src="images/partners/Millcraft-Logo_CMYK_C.jpg" alt="Millcraft"></a></li>
      <li><a href="http://www.taftmuseum.org/"><img src="images/partners/taft-logo.jpg" alt="Taft"></a></li>
      <li><a href="http://ruttledg.com/"><img src="images/partners/rdg_logo_720.png" alt="RDG"></a></li>

    </ul>
	</div>
</section>
