<section id="partners">
	<aside>
		<h1>Partners</h1>
	</aside>
	<div class="main">
		<h2>Presenting Partners</h2>
		<ul class="partners">
			<li><a href="http://aigacincinnati.org"><img src="images/partners/aiga-cincinnati.gif" alt="AIGA Cincinnati"></a></li>
			<li><a href="http://www.adobe.com/"><img src="images/partners/adobe.gif" alt="Adobe"></a></li>
		</ul>
		<h2>Premiere Partner</h2>
		<ul class="partners">
			<li><a href="http://interbrand.com/"><img src="images/partners/interbrand.gif" alt="Interbrand"></a></li>
		</ul>
		<h2>Branding Partner</h2>
		<ul class="partners">
			<li><a href="http://www.hyperquake.com/"><img src="images/partners/hyperquake.gif" alt="Hyperquake"></a></li>
		</ul>
		<h2>Event Supporters</h2>
		<ul class="partners">
			<li><a href="http://www.aiacincinnati.org/"><img src="images/partners/aia.png" alt="AIA Cincinnati"></a></li>
			<li><a href="http://www.artacademy.edu/"><img src="images/partners/aac.gif" alt="Art Academy of Cincinnati"></a></li>
			<li><a href="http://www.cintrifuse.com/"><img src="images/partners/cintrifuse.gif" alt="Cintrifuse"></a></li>
			<li><a href="http://www.contemporaryartscenter.org/"><img src="images/partners/contemporary-arts-center.gif" alt="Contemporary Arts Center"></a></li>
			<li><a href="http://www.creativedepartment.com/"><img src="images/partners/creative-department.gif" alt="Creative Department"></a></li>
			<li><a href="http://creativemornings.com/cities/cin"><img src="images/partners/creative-mornings.png" alt="CreativeMornings"></a></li>
			<li><a href="https://curiosity360.com/"><img src="images/partners/curiosity-advertising.png" alt="Curiosity Advertising"></a></li>
			<li><a href="https://teamgaslight.com"><img src="images/partners/gaslight.gif" alt="Gaslight"></a></li>
			<li><a href="http://www.ixda.org/local/ixda-cincinnati"><img src="images/partners/ixda-cincy.gif" alt="IxDA Cincinnati"></a></li>
			<li><a href="http://www.millcraft.com/"><img src="images/partners/millcraft.gif" alt="Millcraft"></a></li>
			<li><a href="https://www.mohawkconnects.com/"><img src="images/partners/mohawk.gif" alt="Mohawk"></a></li>
			<li><a href="http://www.contemporaryartscenter.org/calendar/2015/09/30/offf-cincinnati-2015"><img src="images/partners/offf-cincinnati.png" alt="OFFF Cincinnati"></a></li>
			<li><a href="http://www.openfieldcreative.com/"><img src="images/partners/openfield-creative.gif" alt="Openfield Creative"></a></li>
			<li><a href="http://thecreativegroup.com"><img src="images/partners/tcg.gif" alt="The Creative Group"></a></li>
			<li><a href="https://www.teksystems.com/"><img src="images/partners/teksystems.png" alt="TEKsystems"></a></li>
			<li><a href="http://wehavebecomevikings.com/"><img src="images/partners/whbv.gif" alt="We Have Become Vikings"></a></li>
			<li><a href="http://www.woodwardtheater.com/"><img src="images/partners/woodward.png" alt="The Woodward Theater"></a></li>
			<li><a href="http://xd.miamioh.edu/"><img src="images/partners/xdmfa.gif" alt="xdMFA Experience Design"></a></li>
		</ul>
	</div>
</section>