<section id="partners">
	<aside>
		<h1>Partners</h1>
	</aside>
	<div class="main">
		<ul class="partners">
			<li><a href="http://aigacincinnati.org"><img src="images/partners/aiga.png" alt="AIGA Cincinnati"></a></li>
			<li><a href="http://theagar.com/"><img src="images/partners/agar.png" alt="AGAR"></a></li>
		</ul>
		<ul class="partners">
			
			<li><a href="http://www.aiacincinnati.org/"><img src="images/partners/aia.png" alt="AIA Cincinnati"></a></li>
			<li><a href="https://www.asid.org/"><img src="images/partners/asid.gif" alt="ASID - American Society of Interior Designers"></a></li>
			<li><a href="http://www.asla.org/"><img src="images/partners/asla.gif" alt="ASLA - American Society of Landscape Architects"></a></li>
			<li><a href="http://bldgrefuge.com/"><img src="images/partners/bldg.jpg" alt="BLDG"></a></li>
			<li><a href="http://www.contemporaryartscenter.org/"><img src="images/partners/contemporary-arts-center.gif" alt="Contemporary Arts Center"></a></li>
			<li><a href="http://creativemornings.com/cities/cin"><img src="images/partners/creative-mornings.png" alt="CreativeMornings"></a></li>
			<li><a href="https://creativesoncall.com/"><img src="images/partners/creatives-on-call.png" alt="Creatives on Call"></a></li>
			<li><a href="http://differential.com/"><img src="images/partners/differential.png" alt="Differential"></a></li>
			<li><a href="http://www.dooleymedia.com/"><img src="images/partners/dooley-media.gif" alt="Dooley Media"></a></li>
			<li><a href="http://www.epipheo.com/"><img src="images/partners/epipheo.gif" alt="Epipheo"></a></li>
			<li><a href="http://www.thegaragegroup.com/"><img src="images/partners/garage-group.jpg" alt="The Garage Group"></a></li>
			<li><a href="https://www.girldevelopit.com/chapters/cincinnati"><img src="images/partners/girl-develop-it.png" alt="Girl Develop It"></a></li>
			<li><a href="http://www.iida.org/"><img src="images/partners/iida.png" alt="IIDA"></a></li>
			<li><a href="http://kaptureaudio.com/"><img src="images/partners/kapture.png" alt="Kapture"></a></li>
			<li><a href="http://www.kindsnacks.com/"><img src="images/partners/kind.png" alt="KIND Bars"></a></li>
			<li><a href="http://lemongrenade.com/"><img src="images/partners/lemongrenade.png" alt="LemonGrenade Creative"></a></li>
			<li><a href="http://www.nku.edu/"><img src="images/partners/nku-sota.png" alt="NKU - School of the Arts"></a></li>
			<li><a href="http://www.contemporaryartscenter.org/calendar/2015/09/30/offf-cincinnati-2015"><img src="images/partners/offf-cincinnati.png" alt="OFFF Cincinnati"></a></li>
			<li><a href="http://www.thepharmacyco.com/"><img src="images/partners/pharmacy.png" alt="The Pharmacy Co."></a></li>
			<li><a href="http://productcampcincinnati.org/"><img src="images/partners/product-camp.gif" alt="ProductCamp Cincinnati"></a></li>
			<li><a href="http://www.meetup.com/QCMDrinkup/"><img src="images/partners/qcmerge-drinkup.png" alt="QCMerge Drinkup"></a></li>
			<li><a href="http://ruttledg.com/"><img src="images/partners/rdg.png" alt="RDG - Ruttle Design Group"></a></li>
			<li><a href="https://segd.org/"><img src="images/partners/segd.png" alt="SEGD"></a></li>
			<li><a href="http://www.spicefire.co/"><img src="images/partners/spicefire.gif" alt="Spicefire"></a></li>
			<li><a href="http://suchandsuchsite.com/"><img src="images/partners/such-and-such.png" alt="Such + Such"></a></li>
			<li><a href="http://wehavebecomevikings.com/"><img src="images/partners/whbv.gif" alt="We Have Become Vikings"></a></li>
			<li><a href="http://www.woodwardtheater.com/"><img src="images/partners/woodward.png" alt="The Woodward Theater"></a></li>
		</ul>
	</div>
</section>