<section id="presenters">
	<aside>
		<h1>Presenters</h1>
	</aside>
	<div class="main">
		<ul class="presenters">
			<li>
				<img src="images/presenters/brian-singer.jpg" alt="Brian Singer">
				<h2>Brian Singer</h2>
				<h3>Design Manager, Pinterest</h3>
				<a href="http://www.iamsomeguy.com/">iamsomeguy.com</a>
			</li>
			<li class="morepresenters"><h2>More Presenters Coming Soon!</h2></li>
		</ul>
	</div>
</section>