<section id="presenters">

	<aside>
		<h1>Presenters</h1>
	</aside>

	<div class="main">

		<h2 class="keynote">Keynote Speaker</h2>
		<ul class="keynote-presenter">
			<li>
				<img src="images/presenters/AshleighAxios_DesignExponent_Automattic.jpg" alt="Ashleigh Axios">
				<h2>Ashleigh Axios</h2>
				<h3>Design Exponent, Automattic & Former Creative Director, The White House</h3>
				<a href="https://www.ashleighaxios.com/">ashleighaxios.com</a>
			</li>
		</ul>
    <ul class="presenters">

      <li>
        <img src="images/presenters/AntionetteCarroll_Founder_CEO_CreativeReactionLab.jpg" >
        <h2>Antionette Carroll</h2>
        <h3>Founder & CEO, Creative Reaction Lab</h3>
      </li>

			<li>
				<img src="images/presenters/AdamSonnett_VPuserexperience_openfield.jpg" >
				<h2>Adam Sonnett</h2>
				<h3>VP User Experience, Openfield</h3>
			</li>

      <li>
        <img src="images/presenters/AutumnCrosier_BrandExperienceDirector_emediadesign.jpg" >
        <h2>Autumn Crosier</h2>
        <h3>Brand Experience Director, emedia design</h3>
      </li>

      <li>
        <img src="images/presenters/AutumnHeisler_Co-President_WomanUpFounder_AIGACincinnati.jpg" >
        <h2>Autumn Heisler</h2>
        <h3>Co-President & WomanUp Founder, AIGA Cincinnati</h3>
      </li>

      <li>
        <img src="images/presenters/Brian-Keenan.jpg" alt="Brian Keenan">
				<h2>Brian Keenan</h2>
				<h3>Co–founder, Openfield Creative</h3>
				<a href="http://www.openfieldcreative.com/">openfieldcreative.com</a>
      </li>

      <li>
        <img src="images/presenters/BrittneyBraemer_Co-Owner_GraphicDesigner_Handzy.jpg" >
        <h2>Brittney Braemer</h2>
        <h3>Co-Owner & Graphic Designer, Handzy</h3>
      </li>

      <li>
        <img src="images/presenters/Carol_Baden_Community-Outreach-Specialist,-Ohio-Attorney-General.jpg" >
        <h2>Carol Baden</h2>
        <h3>Community Outreach Specialist, Ohio Attorney General</h3>
      </li>

      <li>
        <img src="images/presenters/CatherineCrichlow_VP_emediadesign.jpg" >
        <h2>Catherine Crichlow</h2>
        <h3>VP, emedia design</h3>
      </li>

      <li>
        <img src="images/presenters/HollyShoemaker_CreativeDirector_Hyperquake.JPG" >
        <h2>Holly Shoemaker</h2>
        <h3>Creative Director, Hyperquake</h3>
      </li>

      <li>
        <img src="images/presenters/HopeSowders_Mohawk_DistrictSalesManagerandDigitalSpecialist.jpg" >
        <h2>Hope Sowders</h2>
        <h3>District Sales Manager and Digital Specialist, Mohawk</h3>
      </li>

      <li>
        <img src="images/presenters/JessicaBellamy_CreativeResident_Adobe.jpg" >
        <h2>Jessica Bellamy</h2>
        <h3>Creative Resident, Adobe</h3>
      </li>

      <li>
        <img src="images/presenters/JessNolte-Cerchio_SeniorLeadDesigner_Differential.png" >
        <h2>Jess Nolte-Cerchio</h2>
        <h3>Senior Lead Designer, Differential</h3>
      </li>

      <li>
        <img src="images/presenters/KristenPericleous_AIGA_Co-VP.jpg" >
        <h2>Kristen Pericleous</h2>
        <h3>Co-VP & Design for Good Director, AIGA Cincinnati</h3>
      </li>

      <li>
        <img src="images/presenters/LaurenLawson_JuniorDeveloper_Alchemy.JPG" >
        <h2>Lauren Lawson</h2>
        <h3>Junior Developer, Alchemy</h3>
      </li>

      <li>
        <img src="images/presenters/LeahKroeger_GraphicDesigner_Handzy.jpg" >
        <h2>Leah Kroeger</h2>
        <h3>Graphic Designer, Handzy</h3>
      </li>

      <li>
        <img src="images/presenters/MarquezWhite_UIdesigner_krogertechnology.jpg" >
        <h2>Marquez White</h2>
        <h3>UI Designer, Kroger Technology</h3>
      </li>

      <li>
        <img src="images/presenters/MatthewDooley_CEO_Founder_dooleymedia.jpg" >
        <h2>Matthew Dooley</h2>
        <h3>CEO & Founder, Dooley Media</h3>
      </li>

      <li>
        <img src="images/presenters/MichelleSucher_SocialInnovationSpecialist_DesignImpact.jpg" >
        <h2>Michelle Sucher</h2>
        <h3>Social Innovation Specialist, Design Impact</h3>
      </li>

      <li>
        <img src="images/presenters/NicolaCimino_BrandManager_ConstructConnect.jpg" >
        <h2>Nicola Cimino</h2>
        <h3>Brand Manager, Construct Connect</h3>
      </li>

      <li>
        <img src="images/presenters/RyanCayabyab_ProductManager_Alchemy.jpg" >
        <h2>Ryan Cayabyab</h2>
        <h3>Product Manager, Alchemy</h3>
      </li>

      <li>
        <img src="images/presenters/SeanCDavis_SeniorDeveloper_Ample.jpg" >
        <h2>Sean C Davis</h2>
        <h3>Senior Developer, Ample</h3>
      </li>

      <li>
        <img src="images/presenters/SteveBowling_HRbusinesspartner_LPK.jpg" >
        <h2>Steve Bowling</h2>
        <h3>HR Business Partner, LPK</h3>
      </li>

      <li>
        <img src="images/presenters/SuzyStrachan_Co-Owner_GraphicDesigner_Handzy.jpg" >
        <h2>Suzy Strachan</h2>
        <h3>Co-Owner & Graphic Designer, Handzy</h3>
      </li>

      <li>
        <img src="images/presenters/TimMetzner_Founder_Partner_Differential.jpg" >
        <h2>Tim Metzner</h2>
        <h3>Founder & Partner, Differential</h3>
      </li>

      <li>
        <img src="images/presenters/TrevorMinton_VPCreative_Openfield.jpg" >
        <h2>Trevor Minton</h2>
        <h3>VP Creative, Openfield</h3>
      </li>

      <li>
        <img src="images/presenters/YelitsaJean-Charles_GraphicDesigner_LISNR.jpg" >
        <h2>Yelitsa Jean-Charles</h2>
        <h3>Graphic Designer, LISNR</h3>
      </li>

      <li>
        <img src="images/presenters/MatoakaWinters_ClientDirector_Landor.jpg" >
        <h2>Matoaka Winters</h2>
        <h3>Client Director, Landor</h3>
      </li>

      <li>
        <img src="images/presenters/JessieZettler_CreativeDirector_Landor.jpg" >
        <h2>Jessie Zettler</h2>
        <h3>Creative Director, Landor</h3>
      </li>

      <li>
        <img src="images/presenters/Patrick_Hildebrandt.png" >
        <h2>Patrick Hildebrandt</h2>
        <h3>UX/UI Designer, EBTH</h3>
      </li>

      <li>
        <img src="images/presenters/doherty_k_1024.png" >
        <h2>Kendra Doherty</h2>
        <h3>Designer, Landor</h3>
      </li>

      <!-- <li>
        <img src="images/presenters/NAME.jpg" >
        <h2>NAME</h2>
        <h3>POSITION</h3>
      </li> -->
    </ul>

  </div>
</section>
