<section id="presenters">

	<aside>
		<h1>Presenters</h1>
	</aside>

	<div class="main">

		<h2 class="keynote">Keynote Speaker</h2>
		<ul class="keynote-presenter">
			<li>
				<img src="images/presenters/AshleighAxios_DesignExponent_Automattic.jpg" alt="Ashleigh Axios">
				<h2>Ashleigh Axios</h2>
				<h3>Design Exponent, Automattic & Former Creative Director, The White House</h3>
				<a href="https://www.ashleighaxios.com/">ashleighaxios.com</a>
			</li>
		</ul>

  </div>
</section>
