<section id="presenters">
	<aside>
		<h1>Presenters</h1>
	</aside>
	<div class="main">
		<ul class="presenters">
			<li>
				<img src="images/presenters/brian-singer.jpg" alt="Brian Singer">
				<h2>Brian Singer</h2>
				<h3>Design Manager, Pinterest</h3>
				<a href="http://www.iamsomeguy.com/">iamsomeguy.com</a>
			</li>
			<li>
				<img src="images/presenters/timothy-goodman.jpg" alt="Timothy Goodman">
				<h2>Timothy Goodman</h2>
				<h3>Designer, Illustrator, Art Director</h3>
				<a href="http://tgoodman.com/">tgoodman.com</a>
			</li>
			<li>
				<img src="images/presenters/oen-hammonds.jpg" alt="Oen Hammonds">
				<h2>Oen Hammonds</h2>
				<h3>Advisory Designer &amp; Lead Facilitator, IBM Design</h3>
				<a href="http://www.visualnotepad.org/">visualnotepad.org</a>
			</li>
			<li>
				<img src="images/presenters/lesley-amann.jpg" alt="Lesley Amann">
				<h2>Lesley Amann</h2>
				<h3>Partner, BLDG</h3>
				<a href="http://bldgrefuge.com/">bldgrefuge.com</a>
			</li>
			<li>
				<img src="images/presenters/hannah-anderson.jpg" alt="Hannah Anderson">
				<h2>Hannah Anderson</h2>
				<h3>Graphic Designer, MSA Architects</h3>
				<a href="http://www.msaarch.com/">msaarch.com</a>
			</li>
			<li>
				<img src="images/presenters/elizabeth-naramore-barron.jpg" alt="Elizabeth Naramore Barron">
				<h2>Elizabeth Naramore Barron</h2>
				<h3>Patchwork Community Manager, GitHub</h3>
				<a href="http://github.com/">github.com</a>
			</li>
			<li>
				<img src="images/presenters/jay-becker.jpg" alt="Jay Becker">
				<h2>Jay Becker</h2>
				<h3>Partner, BLDG</h3>
				<a href="http://bldgrefuge.com/">bldgrefuge.com</a>
			</li>
			<li>
				<img src="images/presenters/levi-bethune.jpg" alt="Levi Bethune">
				<h2>Levi Bethune</h2>
				<h3>Director of Brand, Epipheo</h3>
				<a href="http://www.epipheo.com/">epipheo.com</a>
			</li>
			<li>
				<img src="images/presenters/stacey_buten.jpg" alt="Stacey Buten">
				<h2>Stacey Buten</h2>
				<h3>Brand Leader, Spicefire</h3>
				<a href="http://www.spicefire.co/">spicefire.co</a>
			</li>
			<li>
				<img src="images/presenters/nick-dew.jpg" alt="Nick Dew">
				<h2>Nick Dew</h2>
				<h3>BLDG</h3>
				<a href="http://bldgrefuge.com/">bldgrefuge.com</a>
			</li>
			<li>
				<img src="images/presenters/anna-diederichs.jpg" alt="Anna Diederichs">
				<h2>Anna Diederichs</h2>
				<h3>Sr. Art Director, Cincinnati Children's</h3>
				<a href="http://www.cincinnatichildrens.org/">cincinnatichildrens.org</a>
			</li>
			<li>
				<img src="images/presenters/matt-dooley.jpg" alt="Matt Dooley">
				<h2>Matt Dooley</h2>
				<h3>Co-Founder &amp; COO, Kapture</h3>
				<a href="http://kaptureaudio.com/">kaptureaudio.com</a>
			</li>
			<li>
				<img src="images/presenters/ramsey-ford.png" alt="Ramsey Ford">
				<h2>Ramsey Ford</h2>
				<h3>Design Director, Design Impact</h3>
				<a href="http://www.d-impact.org/">d-impact.org</a>
			</li>
			<li>
				<img src="images/presenters/jim-fugett.jpg" alt="Jim Fugett">
				<h2>Jim Fugett</h2>
				<h3>Graphic Designer, Christian Moerlein Brewing Company</h3>
				<a href="http://www.christianmoerlein.com/">christianmoerlein.com</a>
			</li>
			<li>
				<img src="images/presenters/julie-niesen-gosdin.jpg" alt="Julie Niesen Gosdin">
				<h2>Julie Niesen Gosdin</h2>
				<h3>Global Content Leader, Zebra Technologies</h3>
				<a href="https://www.zebra.com">zebra.com</a>
			</li>
			<li>
				<img src="images/presenters/kate-hanisian.png" alt="Kate Hanisian">
				<h2>Kate Hanisian</h2>
				<h3>Executive Director, Design Impact</h3>
				<a href="http://www.d-impact.org/">d-impact.org</a>
			</li>
			<li>
				<img src="images/presenters/jordan_hildebrandt.jpg" alt="Jordan Hildebrandt">
				<h2>Jordan Hildebrandt</h2>
				<h3>Industrial Designer, Spicefire</h3>
				<a href="http://www.spicefire.co/">spicefire.co</a>
			</li>
			<li>
				<img src="images/presenters/shannon-lewandowski.jpg" alt="Shannon Lewandowski">
				<h2>Shannon Lewandowski </h2>
				<h3>VP, Business Innovations, Rockfish</h3>
				<a href="http://rockfishdigital.com/">rockfishdigital.com</a>
			</li>
			<li>
				<img src="images/presenters/thommy-long.jpg" alt="Thommy Long">
				<h2>Thommy Long</h2>
				<h3>Owner, LemonGrenade Creative</h3>
				<a href="http://lemongrenade.com/">lemongrenade.com</a>
			</li>
			<li>
				<img src="images/presenters/tim-metzner.jpg" alt="Tim Metzner">
				<h2>Tim Metzner</h2>
				<h3>Co-Founder &amp; Managing Director, Differential</h3>
				<a href="http://differential.com/">differential.com</a>
			</li>
			<li>
				<img src="images/presenters/keith-neltner.jpg" alt="Keith Neltner">
				<h2>Keith Neltner</h2>
				<h3>Owner/Creator, Neltner Small Batch</h3>
				<a href="http://www.neltnersmallbatch.com/">neltnersmallbatch.com</a>
			</li>
			<li>
				<img src="images/presenters/maggie_parkhouse.jpg" alt="Maggie Parkhouse">
				<h2>Maggie Parkhouse</h2>
				<h3>Creative Director, Spicefire</h3>
				<a href="http://www.spicefire.co/">spicefire.co</a>
			</li>
			<li>
				<img src="images/presenters/john-patterson.jpg" alt="John Pattison">
				<h2>John Pattison</h2>
				<h3>Owner/Creative Director, Project Red</h3>
				<!-- <a href="http://www.madtreebrewing.com/">madtreebrewing.com</a> -->
			</li>
			<li>
				<img src="images/presenters/nikki-ridenour.jpg" alt="Nikki Ridenour">
				<h2>Nikki Ridenour</h2>
				<h3>UX/Digital Designer</h3>
				<a href="http://nikkipfahler.com/">nikkipfahler.com</a>
			</li>
			<li>
				<img src="images/presenters/chris-ritter.jpg" alt="Chris Ritter">
				<h2>Chris Ritter</h2>
				<h3>Partner, BLDG</h3>
				<a href="http://bldgrefuge.com/">bldgrefuge.com</a>
			</li>
			<li>
				<img src="images/presenters/jason-snell.jpg" alt="Jason Snell">
				<h2>Jason Snell</h2>
				<h3>Owner, We Have Become Vikings</h3>
				<a href="http://wehavebecomevikings.com/">wehavebecomevikings.com</a>
			</li>
			<li>
				<img src="images/presenters/cathy_sonnett.jpg" alt="Cathy Sonnett">
				<h2>Cathy Sonnett</h2>
				<h3>Creative Director, Spicefire</h3>
				<a href="http://www.spicefire.co/">spicefire.co</a>
			</li>
			<li>
				<img src="images/presenters/ann-thompson.jpg" alt="Ann Thompson">
				<h2>Ann Thompson</h2>
				<h3>Co-Founder, The Garage Group</h3>
				<a href="http://www.thegaragegroup.com/">thegaragegroup.com</a>
			</li>
			<li>
				<img src="images/presenters/vernon_turner.jpg" alt="Vernon Turner">
				<h2>Vernon Turner</h2>
				<h3>Senior Designer, Spicefire</h3>
				<a href="http://www.spicefire.co/">spicefire.co</a>
			</li>
			<li>
				<img src="images/presenters/margaret-vennemeyer.jpg" alt="Margaret Vennemeyer">
				<h2>Margaret Vennemeyer</h2>
				<h3>Environmental Graphic Designer, BHDP Architecture</h3>
				<a href="http://www.bhdp.com/">bhdp.com</a>
			</li>
			<!-- <li class="morepresenters"><h2>More Presenters Coming Soon!</h2></li> -->
		</ul>
	</div>
</section>