<section id="presenters">
	<aside>
		<h1>Presenters</h1>
	</aside>
	<div class="main">
		<h2 class="keynote">Keynote Speaker</h2>
		<ul class="keynote-presenter">
			<li>
				<img src="images/presenters/Alex-Center.jpg" alt="Alex Center">
				<h2>Alex Center</h2>
				<h3>Design Director, Coca-Cola</h3>
				<a href="http://thealexcenter.com/">thealexcenter.com</a>
			</li>
		</ul>
		<ul class="presenters">
			<li>
				<img src="images/presenters/Shelby-Albertz.jpg" alt="Shelby Albertz">
				<h2>Shelby Albertz</h2>
				<h3>Senior Designer, SpiceFire</h3>
				<a href="http://www.gospicefire.com/">gospicefire.com</a>
			</li>
			<li>
				<img src="images/presenters/Helen-Armstrong.jpg" alt="Helen Armstrong">
				<h2>Helen Armstrong</h2>
				<h3>Associate Professor of Graphic Design, NC State University</h3>
				<a href="https://www.ncsu.edu/">ncsu.edu</a>
			</li>
			<li>
				<img src="images/presenters/Ryan-Arthur.jpg" alt="Ryan Arthur">
				<h2>Ryan Arthur</h2>
				<h3>Designer, Gaslight</h3>
				<a href="https://teamgaslight.com">teamgaslight.com</a>
			</li>
			<li>
				<img src="images/presenters/Erin-Barker.jpg" alt="Erin Barker">
				<h2>Erin Barker</h2>
				<h3>Illustrator &amp; Graphic Designer</h3>
				<a href="http://erinbarkerillustration.com/">erinbarkerillustration.com</a>
			</li>
			<li>
				<img src="images/presenters/Dustin-Blankenship.jpg" alt="Dustin Blankenship">
				<h2>Dustin Blankenship</h2>
				<h3>Senior Designer, Hyperquake</h3>
				<a href="http://www.hyperquake.com/">hyperquake.com</a>
			</li>
			<li>
				<img src="images/presenters/Christine-Brown.jpg" alt="Christine Brown">
				<h2>Christine Brown</h2>
				<h3>Creative Manager, Total Quality Logistics</h3>
				<a href="http://www.tql.com/">tql.com</a>
			</li>
			<li>
				<img src="images/presenters/Dennis-Cheatham.jpg" alt="Dennis Cheatham">
				<h2>Dennis Cheatham</h2>
				<h3>Assistant Professor of Graphic Design, Miami University</h3>
				<a href="https://www.miamioh.edu/">miamioh.edu</a>
			</li>
			<li>
				<img src="images/presenters/Amanda-Checco.jpg" alt="Amanda Checco">
				<h2>Amanda Checco</h2>
				<h3>Art Direction and Illustration for Photo and Video Production</h3>
				<a href="https://doublefresh.wordpress.com/">doublefresh.wordpress.com</a>
			</li>
			<li>
				<img src="images/presenters/Annie-Davis.jpg" alt="Annie Davis">
				<h2>Annie Davis</h2>
				<h3>UX Designer, Openfield Creative</h3>
				<a href="http://www.openfieldcreative.com/">openfieldcreative.com</a>
			</li>
			<li>
				<img src="images/presenters/Alexandra-Dellis-Harcha.jpg" alt="Alexandra Dellis-Harcha">
				<h2>Alexandra Dellis-Harcha</h2>
				<h3>Art Director, Curiosity Advertising</h3>
				<a href="https://curiosity360.com/">curiosity360.com</a>
			</li>
			<li>
				<img src="images/presenters/Anna-Diederichs.jpg" alt="Anna Diederichs">
				<h2>Anna Diederichs</h2>
				<h3>Sr. Art Director, Cincinnati Childrens Hospital Medical Center</h3>
				<a href="https://www.cincinnatichildrens.org/">cincinnatichildrens.org</a>
			</li>
			<li>
				<img src="images/presenters/Derek-Ham.jpg" alt="Derek Ham">
				<h2>Derek Ham</h2>
				<h3>Assistant Professor, NC State University</h3>
				<a href="https://www.ncsu.edu/">ncsu.edu</a>
			</li>
			<li>
				<img src="images/presenters/Diane-Hammons.jpg" alt="Diane Hammons">
				<h2>Diane Hammons</h2>
				<h3>System Brand Manager, Mercy Health</h3>
				<a href="https://www.ncsu.edu/">ncsu.edu</a>
			</li>
			<li>
				<img src="images/presenters/Peter-Kananen.jpg" alt="Peter Kananen">
				<h2>Peter Kananen</h2>
				<h3>Partner &amp; Delivery Manager, Gaslight</h3>
				<a href="https://teamgaslight.com">teamgaslight.com</a>
			</li>
			<li>
				<img src="images/presenters/Sheila-Lewis.jpg" alt="Sheila Lewis">
				<h2>Sheila Lewis</h2>
				<h3>Owner/Creative Director/Freelancer, Becoming Brands</h3>
				<a href="http://www.becomingbrands.com/">becomingbrands.com</a>
			</li>
			<li>
				<img src="images/presenters/Juli-Luebbe.jpg" alt="Juli Luebbe">
				<h2>Juli Luebbe</h2>
				<h3>User Experience Consultant</h3>
				<a href="http://jluebbe.blogspot.com/">jluebbe.blogspot.com</a>
			</li>
			<li>
				<img src="images/presenters/Pat-Morgan.jpg" alt="Pat Morgan">
				<h2>Pat Morgan</h2>
				<h3>Creative Director, CycleBar</h3>
				<a href="https://cyclebar.com/">cyclebar.com</a>
			</li>
			<li>
				<img src="images/presenters/Haley-Moore.jpg" alt="Haley Moore">
				<h2>Haley Moore</h2>
				<h3>Designer, Gaslight</h3>
				<a href="http://hihaley.com/">hihaley.com</a>
			</li>
			<li>
				<img src="images/presenters/Ben-Nunery.jpg" alt="Ben Nunery">
				<h2>Ben Nunery</h2>
				<h3>Co-founder, Powerhouse Factories</h3>
				<a href="https://powerhousefactories.com/">powerhousefactories.com</a>
			</li>
			<li>
				<img src="images/presenters/Katie-Pohlman.jpg" alt="Katie Pohlman">
				<h2>Katie Pohlman</h2>
				<h3>Designer, Gaslight</h3>
				<a href="http://katiepohlmandesign.com/">katiepohlmandesign.com</a>
			</li>
			<li>
				<img src="images/presenters/Stephen-Sendelbeck.jpg" alt="Stephen Sendelbeck">
				<h2>Stephen Sendelbeck</h2>
				<h3>Executive Director, AFC</h3>
				<a href="http://www.architecturecincy.org/">architecturecincy.org</a>
			</li>
			<li>
				<img src="images/presenters/Hope-Sowders.jpg" alt="Hope Sowders">
				<h2>Hope Sowders</h2>
				<h3>District Sales Manager &amp; Digital Specialist, Mohawk</h3>
				<a href="https://www.mohawkconnects.com/">mohawkconnects.com</a>
			</li>
			<li>
				<img src="images/presenters/Megan-Trischler.jpg" alt="Megan Trischler">
				<h2>Megan Trischler</h2>
				<h3>Program Director, People's Liberty</h3>
				<a href="http://www.thethirdofthree.com/">thethirdofthree.com</a>
			</li>
			<li class="morepresenters"><h2>More Presenters Coming Soon!</h2></li>
		</ul>
	</div>
</section>