<section id="schedule">
	<!-- <aside>
		<h1>Schedule</h1>
	</aside>
	<div class="main">
		<table class="schedule">
			<thead>
				<tr>
					<th></th>
					<th>Morning</th>
					<th>Lunch</th>
					<th>Evening</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Mon<br>Sept 25</td>
					<td><a href="#shifting">Shifting the Paradigm of Design for Brand Experience</a></td>
					<td><a href="#tandem">In Tandem: How Designers and Developers Work Together</a></td>
					<td><a href="#crazy">Box of Crazy: A Design Thinking Game</a></td>
				</tr>
			</tbody>
		</table>
	</div> -->
</section>
