<section id="schedule">
	<aside>
		<h1>Schedule</h1>
	</aside>
	<div class="main">
		<table class="schedule">
			<thead>
				<tr>
					<th></th>
					<th>Morning</th>
					<th>Lunch</th>
					<th>Evening</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Thurs<br>Sept 21</td>
					<td></td>
					<td></td>
					<td><a href="#agencycrawl">Teaser: Agency Crawl</a></td>
				</tr>
				<tr>
					<td>Mon<br>Sept 25</td>
					<td><a href="#shifting">Shifting the Paradigm of Design for Brand Experience</a></td>
					<td><a href="#tandem">In Tandem: How Designers and Developers Work Together</a></td>
					<td><a href="#crazy">Box of Crazy: A Design Thinking Game</a></td>
				</tr>
				<tr>
					<td>Tues<br>Sept 26</td>
					<td><a href="#meaning">Make with Meaning</a></td>
					<td><a href="#disruptive">Disruptive: An Inside Look at Cannes Lions 2017</a></td>
          <td><a href="#equity">Gender Equity Workshop</a></td>
				</tr>
				<tr>
					<td>Wed<br>Sept 27</td>
					<td><a href="#infographics">Infographics for Social Change: A Graphic Ally Hackathon</a></td>
					<td><a href="#destress">Destress to Impress: Wellness strategies for sustaining creativity</a></td>
          <td><a href="#good">Designing for Good: Creatively Attacking the Heroin Epidemic</a></td>
				</tr>
				<tr>
					<td>Thurs<br>Sept 28</td>
					<td><a href="#handmade">Handzy Handmade Card Workshop</a></td>
					<td><a href="#print">Print Talk with Mohawk</a></td>
					<td><a href="#civic">Design Leadership for Civic Change feat. Antionette Carroll</a></td>
				</tr>
				<tr>
					<td>Fri<br>Sept 29</td>
					<td colspan="2"><a href="#emerge">EMERGE Mini-Conf</a></td>
          <td><a href="#keynote">Keynote: Ashleigh Axios - Triumphs & Mishaps + #CDW17 After-Party</a></td>
				</tr>
        <tr></tr>
        <tr>
          <td></td>
          <td><a href="#mornings">Creative Mornings</a></td>
          <td></td>
          <td></td>
        </tr>
			</tbody>
		</table>
	</div>
</section>
