<section id="schedule">
	<aside>
		<h1>Schedule</h1>
	</aside>
	<div class="main">
		<table class="schedule">
			<thead>
				<tr>
					<th></th>
					<th>Morning</th>
					<th>Lunch</th>
					<th>Evening</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Thurs<br>Sept 15</td>
					<td></td>
					<td></td>
					<td><a href="#agencycrawl">Teaser: Agency Crawl</a></td>
				</tr>
				<tr>
					<td>Mon<br>Sept 19</td>
					<td></td>
					<td></td>
					<td><a href="#creativejam">Teaser: Adobe Creative Jam</a></td>
				</tr>
				<tr>
					<td>Sat<br>Sept 24</td>
					<td colspan="3"><a href="#offf">OFFF Cincinnati</a></td>
				</tr>
				<tr>
					<td>Mon<br>Sept 26</td>
					<td></td>
					<td><a href="#ixda"> Ignite Your Design Career with UX</a></td>
					<td><a href="#knowher">KnowHer</a></td>
				</tr>
				<tr>
					<td>Tue<br>Sept 27</td>
					<td><a href="#breakfastclub">Indie/Breakfast Club</a></td>
					<td><a href="#openfieldcreative">Bending the Boundaries of Interface</a></td>
					<td><!-- <a href="#hyperquake">Hyperquake</a> -->Coming Soon: An Event From Hyperquake</td>
				</tr>
				<tr>
					<td>Wed<br>Sept 28</td>
					<td></td>
					<td><!-- <a href="#adobeworkshop">Adobe Workshop</a> -->Coming Soon: Adobe Workshop</td>
					<td>
						<a href="#agiledesign">Agile Design: How to Fail Your Way to Success</a><br><br>
						<a href="#liquidcourage">Liquid Courage</a>
					</td>
				</tr>
				<tr>
					<td>Thurs<br>Sept 29</td>
					<td></td>
					<td><a href="#printtalkwithmohawk">Print Talk with Mohawk</a></td>
					<td><a href="#miamiu">Designing for a Virtual Environment: A Tale of Two Workshops</a></td>
				</tr>
				<tr>
					<td>Fri<br>Sept 30</td>
					<td><!-- <a href="#creativemornings">Creative Mornings</a> -->Coming Soon: CreativeMornings</td>
					<td><!-- <a href="#inhouseworkshop">InHouse Workshop</a> -->Coming Soon: InHouse Workshop &amp; Panel</td>
					<td>
						<a href="#alexcenter">Keynote: Alex Center</a><br><br>
						<a href="#afterparty">CDW Afterparty with Alex Center</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>