<section id="schedule">
	<aside>
		<h1>Schedule</h1>
	</aside>
	<div class="main">
		<table class="schedule">
			<thead>
				<tr>
					<th></th>
					<th>Morning</th>
					<th>Lunch</th>
					<th>Evening</th>
				</tr>
			</thead>
			<tbody>
        <tr>
					<td>Thurs<br>Sept 13</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td><a href="#agencycrawl">Agency Crawl: 2018</a></td>
				</tr>
				<tr>
					<td>Mon<br>Sept 17</td>
					<td><a href="#sprint">The Design Sprint: Creative Collaboration</a></td>
					<td><a href="#hp">HP/Graphic Village Innovation Lab</a></td>
					<td><a href="#crazy">Box of Crazy: The Second Chapter, Part Deux, Electric Boogaloo</a></td>
				</tr>
        <tr>
          <td>Tues<br>Sept 18</td>
					<td><a href="#daap">DAAPmade: The Future of Typeface Design</a></td>
					<td><a href="#mohawk">Print Talk with Mohawk</a></td>
					<td><a href="#press">Pressing On: The Letterpress Film Screening Panel &amp; Exhibition</a></td>
				</tr>
        <tr>
          <td>Wed<br>Sept 19</td>
					<td><a href="#stories">Stories, Strangers, Connections, Oh My!</a></td>
					<td><a href="#destress">De-stress to Impress II: Taking Breaks &amp; Igniting Your Imagination</a></td>
					<td><a href="#concept">Concept Cincinnati: A Collaborative Design Project</a></td>
				</tr>
        <tr>
          <td>Thurs<br>Sept 20</td>
					<td><a href="#womanup">WomanUp :: Talk Back "Misrepresentation"</a></td>
					<td><a href="#corpse">Our Exquisite Corpse: Designing the Parallax Pavilion</a></td>
					<td><a href="#diversity">Designing an Inclusive System for Diversity</a></td>
				</tr>
        <tr>
          <td>Fri<br>Sept 21</td>
					<td><a href="#emerge">EMERGE Mini-Conference</a></td>
					<td><a href="#reemerge">Re-Emerge - Hit Refresh on your Portfolio</a></td>
					<td><a href="#keynote">CDW18 Keynote at The American Sign Museum</a></td>
				</tr>
			</tbody>
		</table>
	</div>
  <!-- <div>
  <a href="https://cincinnati.aiga.org/upcoming-events/"><img src="images/CDW_Email_Social_TeaserSchedule_Facebook.jpg" alt="Teaser Schedule" style="max-width: 100%;"/></a>
</div>-->
</section>
