<section id="schedule">
	<aside>
		<h1>Schedule</h1>
	</aside>
	<div class="main">
		<table class="schedule">
			<thead>
				<tr>
					<th></th>
					<th>Morning</th>
					<th>Lunch</th>
					<th>Evening</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Thurs<br>Sept 10</td>
					<td></td>
					<td></td>
					<td><a href="#timothygoodman">Teaser: Timothy Goodman - Getting Away With Shit</a></td>
				</tr>
				<tr>
					<td>Thurs<br>Sept 17</td>
					<td></td>
					<td></td>
					<td><a href="#agencycrawl">Teaser: Agency Crawl</a></td>
				</tr>
				<tr>
					<td>Fri<br>Sept 25</td>
					<td><a href="#creativemornings">CreativeMornings</a></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Sat<br>Sept 26</td>
					<td colspan="3"><a href="#productcamp">ProductCamp</a></td>
				</tr>
				<tr>
					<td>Mon<br>Sept 28</td>
					<td></td>
					<td></td>
					<td><a href="#craftbrewment">The Craft Brewment: The Branding Behind the Beer</a></td>
				</tr>
				<tr>
					<td>Tue<br>Sept 29</td>
					<td><a href="#kapture">It’s Not About You: Who Should Be at the Center of Your Design </a></td>
					<td><a href="#garagegroup">Iterative Development in Corporate Environments</a></td>
					<td><a href="#pharmacy">Distort the Panel</a></td>
				</tr>
				<tr>
					<td>Wed<br>Sept 30</td>
					<td></td>
					<td><a href="#segd">XGD: Experiential Graphic Design</a></td>
					<td><a href="#cda">Cincinnati Design Awards 2×4</a></td>
				</tr>
				<tr>
					<td>Wed<br>Sept 30</td>
					<td colspan="2"><a href="#offf">OFFF</a></td>
					<td></td>
				</tr>
				<tr>
					<td>Thu<br>Oct 1</td>
					<td><a href="#techleaders">Tech Leaders: Presented by WomanUp + Girl Develop It</a></td>
					<td><a href="#adifferentstartupstory">A Different(ial) Startup Story</a></td>
					<td><a href="#drinkup">QCMerge Drinkup: Drink &amp; Draw Edition</a><br><br><a href="#oenhammonds">Oen Hammonds: People + Practice + Places = Outcomes</a></td>
				</tr>
				<tr>
					<td>Fri<br>Oct 2</td>
					<td><a href="#bldg">BLDG: Behind the Antlers</a></td>
					<td><a href="#spicefire">Designing the Future: Ignite What’s Possible</a> </td>
					<td><a href="#briansinger">Brian Singer: How to Get Rich in Design</a><br><br><a href="#finale">CDW Finale with Brian Singer</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>