<section id="tickets">
	<!-- <aside>
		<h1>tickets</h1>
	</aside>
	<div class="main">
		<p>Events will be individually ticketed online and at the door, provided there are still seats available. If an event is free to attend, it is still important to RSVP, as some events have a maximum number of seats and your RSVP guarantees you will recieve one.</p>

  </div> -->
</section>
