<section id="tickets">
	<aside>
		<h1>tickets</h1>
	</aside>
	<div class="main">
		<p>Events will be individually ticketed online and at the door, provided there are still seats available. If an event is free to attend, it is still important to RSVP, as some events have a maximum number of seats and your RSVP guarantees you will recieve one.</p>

    <div class="event" id="agencycrawl">
			<h3>Thurs, Sept 21</h3>
			<h2>Teaser: Agency Crawl</h2>
			<h4>Downtown Cincinnati | 5:30-8:30pm | FREE</h4>
			<p>Details Coming Soon!</p>
      <p><h3 class="comingsoon">Tickets Coming Soon</h3></p>
		</div>

    <div class="event" id="#">
      <h3>Mon, Sept 25</h3>
      <h2>Shifting the Paradigm of Design for Brand Experience</h2>
      <h4><a href="#location">emedia design</a> | 8:30am | FREE - $10</h4>
      <p>Designing for a brand is more than just developing an eye-catching logo. Connecting business and design at a strategic level is a necessary step in bringing brands to life. This process often requires a collaborative effort across multiple skillsets and departments. It also requires a deeper understanding of the company, their customers and how the two coexist. Join eMedia Design Co., a downtown Cincinnati brand experience firm, to learn about design process tips and discuss key areas necessary in designing for the brand experience. Want to stand out in the industry? Ready to take your process to the next level? We'll show you the way. Coffee and light breakfast included, thank you to eMedia Design Co for hosting this #CDW17 event!</p>
      <p>Speakers:</p>
      <ul>
        <li>Catherine Crichlow, Vice President</li>
        <li>Autumn Crosier, Brand Experience Director</li>
      </ul>
      <p>About <a href="#sponsor website">Sponsor Name</a>:<br>About the Sponsor text here</p>
      <p><h3 class="comingsoon">Tickets Coming Soon</h3></p>
    </div>

    <div class="event" id="#">
      <h3>Mon, Sept 25</h3>
      <h2>Bridging the Gap between Design and Development</h2>
      <h4><a href="#location">Union Hall // Homeroom</a> | 3:00pm | FREE - $10</h4>
      <p>Details Coming Soon</p>
      <p><h3 class="comingsoon">Tickets Coming Soon</h3></p>
    </div>

    <div class="event" id="#">
      <h3>Mon, Sept 25</h3>
      <h2>Box of Crazy: A Design Thinking Game</h2>
      <h4><a href="#location">Union Hall // Beer Hall</a> | 5:30pm | FREE</h4>
      <p>Like everyone today, we designers find ourselves confronted with the reality of living and working in an era of unprecedented technological change that continually requires us to redefine the value that our profession brings to the world around us. The good news: design-thinkers have an edge. While that’s a very serious topic, we’d like to invite you to an evening where we don’t take ourselves too seriously. Please join us for a game-like collaborative experience full of lightning-fast design prototyping that we’re calling “Box of Crazy.”</p>
      <p><strong>How it will work:</strong></p>
      <p>Openfield Creative will present attendees with a shortlist of challenges that you will vote on. We will then divide the room into teams who will compete to solve the challenge using a curated box of random and absurd items that you will use to prototype your solutions. Teams will present to a panel of judges who will evaluate the prototypes and make awards in the following categories:</p>
      <ul>
        <li>Most Ingenious</li>
        <li>Most Hilarious</li>
        <li>Most WTF?!</li>
      </ul>
      <p>Let’s kick off Cincinnati Design Week with a fun evening designed to get us all working and laughing together! Lite bites and beverages included.</p>
      <p><h3 class="comingsoon">Tickets Coming Soon</h3></p>
    </div>

    <div class="event" id="#">
      <h3>Tues, Sept 26</h3>
      <h2>Evet Title</h2>
      <h4><a href="#location">Location</a> | 12:00pm | FREE</h4>
      <p>Event Description</p>
      <p>Speakers:</p>
      <ul>
        <li>Speaker Name, Position, Company</li>
        <li>Speaker Name, Position, Company</li>
        <li>Speaker Name, Position, Company</li>
      </ul>
      <p>Sponsored by SPONSOR</p>
      <p>About <a href="#sponsor website">Sponsor Name</a>:<br>About the Sponsor text here</p>
      <p><h3 class="comingsoon">Tickets Coming Soon</h3></p>
    </div>

  </div>
</section>
