<section id="tickets">
	<aside>
		<h1>Events</h1>
	</aside>
	<div class="main">
		<p>Events will be individually ticketed online and at the door, provided there are still seats available. If an event is free to attend, it is still important to RSVP, as some events have a maximum number of seats and your RSVP guarantees you will recieve one.</p>

    <div class="event" id="agencycrawl">
			<h3>Thurs, Sept 13</h3>
			<h2><a href="https://cincinnati.aiga.org/event/agency-crawl-2018/" target="_blank">Agency Crawl: 2018</a></h2>
			<h4>Downtown Cincinnati | 6:00&ndash;9:00 pm | FREE&ndash;$5</h4>
			<div class="soldout">
				<p>This event is currently sold out. Feel free to <a href="https://cincinnati.aiga.org/event/agency-crawl-2018/">join the waitlist</a></p>
			</div>
			<p>The Annual Agency Crawl is your chance to go on behind-the-scenes tours of several downtown design agencies. You will get a peek into the Cincinnati design community as you meet some of the awesome creative people who work in the city. The participating studios are excited to welcome you, so join us for a few adult beverages and a whole lot of fun. <a href="https://cincinnati.aiga.org/event/agency-crawl-2018/" target="_blank">Learn more</a>.</p>

      <ul>
        <li><a href="https://www.creativedepartment.com/" target="_blank">The Creative Department</a></li>
        <li><a href="https://www.deskey.com/" target="_blank">Deskey Associates</a></li>
        <li><a href="https://www.pixelandtimber.com/" target="_blank">Pixel & Timber</a></li>
        <li><a href="https://rebelpilgrim.com/" target="_blank">Rebel Pilgrim</a></li>
        <li><a href="https://curiosity360.com/" target="_blank">Curiosity Advertising</a></li>
        <li><a href="https://goo.gl/maps/hf6Yvz9cWzx" target="_blank" style="color: #00ADEE;">VIEW THE MAP</a></li>
      </ul>
      <p class="ticket-price"><strong>Ticket Price:</strong>
      <br>AIGA Member&mdash;FREE
      <br>AIGA Student Member&mdash;FREE
      <br>Non-Member&mdash;$5</p>
      <p><a href="https://cincinnati.aiga.org/event/agency-crawl-2018/" target="_blank" class="button">Join the waitlist</a></p>
		</div>

    <div class="event" id="sprint">
			<h3>Mon, Sept 17</h3>
			<h2><a href="https://cincinnati.aiga.org/event/the-design-sprint-creative-collaboration/" target="_blank">The Design Sprint: Creative Collaboration</a></h2>
			<h4><a href="https://goo.gl/maps/cXz5W3Kc11C2" target="_blank">3 Points Urban Brewery</a> | 8:00&ndash;11:00 am | FREE&ndash;$10</h4>
			<div class="soldout">
				<p>This event is currently sold out. Feel free to <a href="https://cincinnati.aiga.org/event/the-design-sprint-creative-collaboration/">join the waitlist</a></p>
			</div>
			<p>The Design Sprint is a problem-solving framework created by Google Ventures that answers critical business questions through design, prototyping, and testing ideas with final users and customers. During this session, you will hear from a panel of five product designers and UX professionals who will explain each day of The Design Sprint, followed by a workshop where you will run your own mini-sprint with a team and facilitator. Breakfast, coffee, and snacks will also be included. Learn how you can compress the endless debate cycle into a jam-packed five days of creative collaboration! <a href="https://cincinnati.aiga.org/event/the-design-sprint-creative-collaboration/" target="_blank">Learn more</a>.</p>
      <p class="ticket-price"><strong>Ticket Price:</strong>
      <br>AIGA Member&mdash;$5
      <br>AIGA Student Member&mdash;FREE
      <br>Non-Member&mdash;$10</p>
      <p><a href="https://cincinnati.aiga.org/event/the-design-sprint-creative-collaboration/" target="_blank" class="button">Join the waitlist</a></p>
		</div>

    <div class="event" id="hp">
			<h3>Mon, Sept 17</h3>
			<h2><a href="https://cincinnati.aiga.org/event/hp-graphic-village-innovation-lab/" target="_blank">HP/Graphic Village Innovation Lab</a></h2>
			<h4><a href="https://goo.gl/maps/vnaoaRPEjD82" target="_blank">Graphic Village</a> | 11:30am&ndash;2:00pm | $5&ndash;$20</h4>
			<p>How many times have you created a design and then NEVER printed it? Now you can experience the #WonderofPrint during the Innovation Lab at Graphic Village! This afternoon event is intended to bring printers and designers together for collaboration and sharing. Lunch will be provided. <a href="https://cincinnati.aiga.org/event/hp-graphic-village-innovation-lab/" target="_blank">Learn more</a>.</p>
      <p class="ticket-price"><strong>Ticket Price:</strong>
      <br>AIGA Member&mdash;FREE
      <br>AIGA Student Member&mdash;FREE
      <br>Non-Member&mdash;FREE</p>
      <p><a href="https://cincinnati.aiga.org/event/hp-graphic-village-innovation-lab/" target="_blank" class="button">Reserve your spot</a></p>
		</div>

    <div class="event" id="crazy">
			<h3>Mon, Sept 17</h3>
			<h2><a href="https://cincinnati.aiga.org/event/box-of-crazy-the-second-chapter-part-deux-electric-boogaloo/" target="_blank">Box of Crazy: The Second Chapter, Part Deux, Electric Boogaloo</a></h2>
			<h4><a href="https://goo.gl/maps/RkdzbgUwtBF2" target="_blank">Union Hall</a> | 5:30&ndash;8:00 pm | FREE&ndash;$15</h4>
			<p>We’re bringing crazy back! Whether you were there, or you just heard about it in 2017, here’s your chance to up your design thinking game in 2018. Join us for Box of Crazy: The Second Chapter, Part Deux, Electric Boogaloo. <a href="https://cincinnati.aiga.org/event/box-of-crazy-the-second-chapter-part-deux-electric-boogaloo/" target="_blank">Learn more</a>.</p>
      <p class="ticket-price"><strong>Ticket Price:</strong>
      <br>AIGA Member&mdash;$5
      <br>AIGA Student Member&mdash;FREE
      <br>Non-Member&mdash;$15</p>
      <p><a href="https://cincinnati.aiga.org/event/box-of-crazy-the-second-chapter-part-deux-electric-boogaloo/" target="_blank" class="button">Reserve your spot</a></p>
		</div>

    <div class="event" id="daap">
			<h3>Tues, Sept 18</h3>
			<h2><a href="https://cincinnati.aiga.org/event/daapmade-the-future-of-typeface-design/" target="_blank">DAAPmade: The Future of Typeface Design</a></h2>
			<h4><a href="https://goo.gl/maps/rHG1phdCH3Q2" target="_blank">BHDP Architecture</a> | 8:30&ndash;10:00 am | FREE EVENT</h4>
			<div class="soldout">
				<p>This event is currently sold out. Feel free to <a href="https://cincinnati.aiga.org/event/daapmade-the-future-of-typeface-design/">join the waitlist</a></p>
			</div>
			<p>Join us for a special edition of the DAAP Alumni Nework’s series DAAPmade! DAAP’s Director of the School of Design, Gjoko Muratovski will kick off the morning. DAAP Associate Professor and Program Director of Communication Design, Reneé Seward will share her ongoing research, her journey in the field, and the future of typeface design. Come and connect with fellow DAAPers and members of the creative community. Coffee and breakfast bites will be provided. <a href="https://cincinnati.aiga.org/event/daapmade-the-future-of-typeface-design/" target="_blank">Learn more</a>.</p>
      <p class="ticket-price"><strong>Ticket Price:</strong>
      <br>AIGA Member&mdash;FREE
      <br>AIGA Student Member&mdash;FREE
      <br>Non-Member&mdash;FREE</p>
      <p><a href="https://cincinnati.aiga.org/event/daapmade-the-future-of-typeface-design/" target="_blank" class="button">Join the waitlist</a></p>
		</div>

    <div class="event" id="mohawk">
			<h3>Tues, Sept 18</h3>
			<h2><a href="https://cincinnati.aiga.org/event/print-talk-with-mohawk-cdw18/" target="_blank">Print Talk with Mohawk</a></h2>
			<h4><a href="https://goo.gl/maps/4ZpsoVvfs752" target="_blank">Nicholson's Tavern &amp; Pub</a> | 11:30am&ndash;1:00pm | FREE&ndash;$10</h4>
			<p>Join paper guru Hope Sowders of Mohawk Paper and her local distribution team from Millcraft as they reveal current and upcoming trends in the paper and printing industries. They will discuss the importance of the Makers Movement and share some inspiring examples of spectacular printed materials that are in the market today. You’ll learn about some new ways to express your ideas and communicate with maximum impact and beauty. <a href="https://cincinnati.aiga.org/event/print-talk-with-mohawk-cdw18/" target="_blank">Learn more</a>.</p>
      <p class="ticket-price"><strong>Ticket Price:</strong>
      <br>AIGA Member&mdash;$5
      <br>AIGA Student Member&mdash;FREE
      <br>Non-Member&mdash;$10</p>
      <p><a href="https://cincinnati.aiga.org/event/print-talk-with-mohawk-cdw18/" target="_blank" class="button">Reserve your spot</a></p>
		</div>

    <div class="event" id="press">
			<h3>Tues, Sept 18</h3>
			<h2><a href="https://cincinnati.aiga.org/event/pressing-on-the-letterpress-film-screening-panel-exhibition/" target="_blank">Pressing On: The Letterpress Film Screening Panel &amp; Exhibition</a></h2>
			<h4><a href="https://goo.gl/maps/219DvfTc1Uy" target="_blank">Urban Artifact</a> | 5:30&ndash;8:00 pm | $10&ndash;$25</h4>
			<p>The modern world was born on a printing press. Once essential to communication, the 500-year-old process is now in danger of being lost as its caretakers age. From self-proclaimed basement hoarders to the famed Hatch Show Print, Pressing On: The Letterpress Film explores the question: why has letterpress survived in a digital age? <a href="https://cincinnati.aiga.org/event/pressing-on-the-letterpress-film-screening-panel-exhibition/" target="_blank">Learn more</a>.</p>
      <p class="ticket-price"><strong>Ticket Price:</strong>
      <br>AIGA Member&mdash;$15
      <br>AIGA Student Member&mdash;$10
      <br>Non-Member&mdash;$25</p>
      <p><a href="https://cincinnati.aiga.org/event/pressing-on-the-letterpress-film-screening-panel-exhibition/" target="_blank" class="button">Reserve your spot</a></p>
		</div>

    <div class="event" id="stories">
			<h3>Wed, Sept 19</h3>
			<h2><a href="https://cincinnati.aiga.org/event/stories-strangers-connections-oh-my/" target="_blank">Stories, Strangers, Connections, Oh My!</a></h2>
			<h4><a href="https://goo.gl/maps/LcEuuxpkHrT2" target="_blank">The Brand Experience</a> | 8:00&ndash;9:30 am | FREE EVENT</h4>
			<div class="soldout">
				<p>This event is currently sold out. Feel free to <a href="https://cincinnati.aiga.org/event/stories-strangers-connections-oh-my/">join the waitlist</a></p>
			</div>
			<p>Does the thought of telling a stranger a meaningful story about your life make you cringe? Good! Pushing past your comfort zone is key for creativity. In this session we’ll share moments in a safe environment, uncover the power of visually retelling those stories and make meaningful connections in a fun and memorable way. (If that doesn’t convince you, there is also breakfast.) <a href="https://cincinnati.aiga.org/event/stories-strangers-connections-oh-my/" target="_blank">Learn more</a>.</p>
      <p class="ticket-price"><strong>Ticket Price:</strong>
      <br>AIGA Member&mdash;FREE
      <br>AIGA Student Member&mdash;FREE
      <br>Non-Member&mdash;FREE</p>
      <p><a href="https://cincinnati.aiga.org/event/stories-strangers-connections-oh-my/" target="_blank" class="button">Join the waitlist</a></p>
		</div>

    <div class="event" id="destress">
			<h3>Wed, Sept 19</h3>
			<h2><a href="https://cincinnati.aiga.org/event/de-stress-to-impress-ii-taking-breaks-igniting-your-imagination/" target="_blank">De-stress to Impress II: Taking Breaks & Igniting Your Imagination</a></h2>
			<h4><a href="https://goo.gl/maps/2JQ5rRuxAEQ2" target="_blank">People's Liberty</a> | 12:00&ndash;1:30 pm | $5</h4>
			<div class="soldout">
				<p>This event is currently sold out. Feel free to <a href="https://cincinnati.aiga.org/event/de-stress-to-impress-ii-taking-breaks-igniting-your-imagination/">join the waitlist</a></p>
			</div>
			<p>Making time for yourself is one of the most important skills you can cultivate in your design career. Most of us don’t give ourselves the same level of care and attention that we give to our work. Mid-week wellness strategies are back for #CDW18! Take a relaxing break in the middle of design week and join us for a Tai Chi lesson, a nourishing Bahn Mi lunch, swag from Findlay Market, as well as other wellness giveaways and tips. We’ll discuss exercising your imagination, sustaining creativity and achieving the kind of whole body wellness that will complement your creative career. One hundred percent of your $5 fee will be donated to the American Foundation for Suicide Prevention (AFSP). <a href="https://cincinnati.aiga.org/event/de-stress-to-impress-ii-taking-breaks-igniting-your-imagination/" target="_blank">Learn more</a>.</p>
      <p class="ticket-price"><strong>Ticket Price:</strong>
      <br>AIGA Member&mdash;$5
      <br>AIGA Student Member&mdash;$5
      <br>Non-Member&mdash;$5</p>
      <p><a href="https://cincinnati.aiga.org/event/de-stress-to-impress-ii-taking-breaks-igniting-your-imagination/" target="_blank" class="button">Join the waitlist</a></p>
		</div>

    <div class="event" id="concept">
			<h3>Wed, Sept 19</h3>
			<h2><a href="https://cincinnati.aiga.org/event/concept-cincinnati-a-collaborative-design-project/" target="_blank">Concept Cincinnati: A Collaborative Design Project</a></h2>
			<h4><a href="https://goo.gl/maps/aufcbPigXLm" target="_blank">Reztark Design Studio</a> | 5:30&ndash;7:30 pm | FREE&ndash;$15</h4>
			<p>We have an idea&mdash;an idea that our design community is stronger together. It is going to take all of us working together as one to make lasting, sustainable change on our surroundings. So, let’s create something together, as Cincinnati’s creative community. Let’s come together as designers, writers, thinkers, makers, doers, and individuals to create a united vision for the future of the city of Cincinnati. A vision which represents all of our unique points of view. <a href="https://cincinnati.aiga.org/event/concept-cincinnati-a-collaborative-design-project/" target="_blank">Learn more</a>.</p>
      <p class="ticket-price"><strong>Ticket Price:</strong>
      <br>AIGA Member&mdash;$5
      <br>AIGA Student Member&mdash;FREE
      <br>Non-Member&mdash;$15</p>
      <p><a href="https://cincinnati.aiga.org/event/concept-cincinnati-a-collaborative-design-project/" target="_blank" class="button">Reserve your spot</a></p>
		</div>

    <div class="event" id="womanup">
			<h3>Thurs, Sept 20</h3>
			<h2><a href="https://cincinnati.aiga.org/event/womanup-talk-back-misrepresentation/" target="_blank">WomanUp :: Talk Back "Misrepresentation"</a></h2>
			<h4><a href="https://goo.gl/maps/kBj1KpkE4Q52" target="_blank">TEKsystems</a> | 9:00&ndash;11:00 am | FREE&ndash;$5</h4>
			<p>WomanUp :: Talk Back is a collaborative art installation that seeks to serve as a conversation starter about topics that are important to women in the creative community. Community members contribute their thoughts and ideas on the topic in a visual way — by adding to the physical canvas. Pieces and parts are added to the story and, over time, allow us to explore, experience and discuss issues through the art that is created. <a href="https://cincinnati.aiga.org/event/womanup-talk-back-misrepresentation/" target="_blank">Learn more</a>.</p>
      <p class="ticket-price"><strong>Ticket Price:</strong>
      <br>AIGA Member&mdash;FREE
      <br>AIGA Student Member&mdash;FREE
      <br>Non-Member&mdash;$5</p>
      <p><a href="https://cincinnati.aiga.org/event/womanup-talk-back-misrepresentation/" target="_blank" class="button">Reserve your spot</a></p>
		</div>

    <div class="event" id="corpse">
			<h3>Thurs, Sept 20</h3>
			<h2><a href="https://cincinnati.aiga.org/event/our-exquisite-corpse-designing-the-parallax-pavilion/" target="_blank">Our Exquisite Corpse: Designing the Parallax Pavilion</a></h2>
			<h4><a href="https://goo.gl/maps/8c8uPmfTwKk" target="_blank">GBBN Architects</a> | 12:00&ndash;1:00 pm | FREE&ndash;$10</h4>
			<p>GBBN flipped the design process on its head in designing the Parallax Pavilion, a temporary installation at the heart of their fourth annual Design Issues Series (DIS) exhibit.</p>
      <p>Inspired by the 20th century Surrealist parlor game, Cadavre Exquis (Exquisite Corpse), the collective goal was to design and fabricate a structure that celebrates and manipulates perception. Five creative teams from across GBBN’s three U.S. offices contributed to different phases of the project—each team blind to what would be passed to them. Upending the customary design process was revealing, transforming, and yes, sometimes aggravating! Learn what worked and what flopped as we dissect the journey to the Parallax Pavilion. <a href="https://cincinnati.aiga.org/event/our-exquisite-corpse-designing-the-parallax-pavilion/" target="_blank">Learn more</a>.</p>
      <p class="ticket-price"><strong>Ticket Price:</strong>
      <br>AIGA Member&mdash;$5
      <br>AIGA Student Member&mdash;FREE
      <br>Non-Member&mdash;$10</p>
      <p><a href="https://cincinnati.aiga.org/event/our-exquisite-corpse-designing-the-parallax-pavilion/" target="_blank" class="button">Reserve your spot</a></p>
		</div>

    <div class="event" id="diversity">
			<h3>Thurs, Sept 20</h3>
			<h2><a href="https://cincinnati.aiga.org/event/designing-an-inclusive-system-for-diversity/" target="_blank">Designing an Inclusive System for Diversity</a></h2>
			<h4><a href="https://goo.gl/maps/GmeMjzRzNsA2" target="_blank">Alchemy (a P&G Company)</a> | 5:30&ndash;8:00 pm | FREE&ndash;$10</h4>
			<p>"Do I belong?" Every designer at every career stage has asked themselves this question, and it matters even more for underrepresented designers. When welcoming a new designer to the team, it's not enough to simply have a goal of "diversity," we need to design a system of inclusion. Visit the Alchemy office space for an evening of understanding and exploration. We’ll learn how build an effective system that includes and celebrates underrepresented designers. A light dinner will be provided by Poke Hut. <a href="https://cincinnati.aiga.org/event/designing-an-inclusive-system-for-diversity/" target="_blank">Learn more</a>.</p>
      <p class="ticket-price"><strong>Ticket Price:</strong>
      <br>AIGA Member&mdash;$5
      <br>AIGA Student Member&mdash;FREE
      <br>Non-Member&mdash;$10</p>
      <p><a href="https://cincinnati.aiga.org/event/designing-an-inclusive-system-for-diversity/" target="_blank" class="button">Reserve your spot</a></p>
		</div>

    <div class="event" id="emerge">
			<h3>Fri, Sept 21</h3>
			<h2><a href="https://cincinnati.aiga.org/event/emerge-mini-conference-cdw18/" target="_blank">EMERGE Mini-Conference</a></h2>
			<h4><a href="https://goo.gl/maps/Q4KXhwp9b1S2" target="_blank">Rookwood Exchange</a> | 8:30am&ndash;12:30pm | $10&ndash;$35</h4>
			<p>EMERGE is a series of experiences tailored to help emerging designers (those with 0-5 years of experience) hone their skills, discover their talents, and grow their careers. EMERGE is a new initiative of programming co-created by the national AIGA organization + AIGA Minnesota. AIGA Cincinnati is excited to be participating in this initiative by hosting a mini-conference created specifically for emerging designers by emerging designers. This half-day event will include an engaging panel discussion, a salary workshop, and a three-part keynote presentation. The day also includes time for networking, free professional head shots, unlimited coffee, and breakfast + snacks. The goal of EMERGE is to help you flourish as a designer—in the areas of employment, growth, leadership, entrepreneurship, and life skills. <a href="https://cincinnati.aiga.org/event/emerge-mini-conference-cdw18/" target="_blank">Learn more</a>.</p>
      <p class="ticket-price"><strong>Ticket Price:</strong>
      <br>AIGA Member&mdash;$20
      <br>AIGA Student Member&mdash;$10
      <br>Non-Member&mdash;$35</p>
      <p><a href="https://cincinnati.aiga.org/event/emerge-mini-conference-cdw18/" target="_blank" class="button">Reserve your spot</a></p>
		</div>

    <div class="event" id="reemerge">
			<h3>Fri, Sept 21</h3>
			<h2><a href="https://cincinnati.aiga.org/event/re-emerge-hit-refresh-on-your-portfolio/" target="_blank">Re-Emerge - Hit Refresh on your Portfolio</a></h2>
			<h4><a href="https://goo.gl/maps/Q4KXhwp9b1S2" target="_blank">Rookwood Exchange</a> | 11:30am&ndash;1:30pm | FREE&ndash;$10</h4>
			<p>Are you prepared to "Re-Emerge" into a competitive job market? Join us for an interactive workshop designed for mid-level and senior creatives with 10+ years in the workforce. Industry experts from top agencies and companies in Cincinnati will discuss how to to refresh your portfolio, update your look, and prepare for today’s job market. Bring your resume and portfolio for review and network with your peers over lunch, generously provided by Creative Circle. <a href="https://cincinnati.aiga.org/event/re-emerge-hit-refresh-on-your-portfolio/" target="_blank">Learn more</a>.</p>
      <p class="ticket-price"><strong>Ticket Price:</strong>
      <br>AIGA Member&mdash;$5
      <br>AIGA Student Member&mdash;FREE
      <br>Non-Member&mdash;$10</p>
      <p><a href="https://cincinnati.aiga.org/event/re-emerge-hit-refresh-on-your-portfolio/" target="_blank" class="button">Reserve your spot</a></p>
		</div>

    <div class="event" id="keynote">
			<h3>Fri, Sept 21</h3>
			<h2><a href="https://cincinnati.aiga.org/event/cdw18-keynote-at-the-american-sign-museum/" target="_blank">CDW18 Keynote at The American Sign Museum</a></h2>
			<h4><a href="https://goo.gl/maps/uPJsj7pAEdz" target="_blank">American Sign Museum</a> | 5:00&ndash;8:00 pm | $10&ndash;$35</h4>
			<p>For the finale of an incredible week, we've brought in the amazing Jennifer Kinon for our CDW18 keynote speech at The American Sign Museum. Join us for fun appetizers, beer, wine, and the opportunity to explore the American Sign Museum before and after the presentation!</p>
      <p>Jennifer Kinon co-founded OCD - <a href="http://originalchampionsofdesign.com" target="_blank">The Original Champions of Design</a> with Bobby C. Martin Jr. OCD has developed brand identity systems for clients that range from the Girl Scouts of the USA to The New York Times, MTV and the NBA. In 2016, Kinon served as Design Director of Hillary Clinton's Hillary for America campaign. Kinon has spoken about the role of brand identity systems around the world and served as President of AIGA New York. She graduated from the University of Michigan and earned an MFA from the School of Visual Arts, where she was the first graduate of the program to join its faculty. Learn more about Jennifer and the New York-based OCD here &gt;&gt; <a href="http://originalchampionsofdesign.com" target="_blank">http://originalchampionsofdesign.com</a> <a href="https://cincinnati.aiga.org/event/cdw18-keynote-at-the-american-sign-museum/" target="_blank">Learn more</a>.</p>
      <p class="ticket-price"><strong>Ticket Price:</strong>
      <br>AIGA Member&mdash;$20
      <br>AIGA Student Member&mdash;$10
      <br>Non-Member&mdash;$35</p>
      <p><a href="https://cincinnati.aiga.org/event/cdw18-keynote-at-the-american-sign-museum/" target="_blank" class="button">Reserve your spot</a></p>
		</div>
</section>
