<section id="tickets">
	<aside>
		<h1>tickets</h1>
	</aside>
	<div class="main">
		<p>Events will be individually ticketed online and at the door, provided there are still seats available. If an event is free to attend, it is still important to RSVP, as some events have a maximum number of seats and your RSVP guarantees you will recieve one.</p>

		<div class="event" id="timothygoodman">
			<h3>Thurs, Sept 10</h3>
			<h2>Teaser: Timothy Goodman - Getting Away With Shit</h2>
			<h4><a href="https://www.google.com/maps/place/The+Woodward+Theater/@39.1113598,-84.5120376,15z/data=!4m2!3m1!1s0x0:0xb9a66413e49c5a3a?sa=X&ved=0CJEBEPwSMApqFQoTCK_6_-aBjscCFUEdPgodRs8ANA">Woodward Theater</a> | 6pm - 9:30pm | $10 - $25</h4>
			<p>Timothy Goodman talks about 'Getting Away With Shit' on Thursday, September 10th The Woodward Theater. After his talk, we're hosting a Meet &amp; Greet / Happy Hour / Book Signing across the street at MOTR.</p>
			<p>Like many designers, Timothy Goodman is held down by rules and parameters that constantly stifle him. So how does he get his own sensibilities into his work? A couple of years ago, he decided to redirect his design career and push himself into new, scary, and unexpected territory through drawing, writing, and personal projects. He rather approach graphic design as a practice, not as a profession. Join Timothy has he reveals his way of getting away with shit.</p>
			<p>Timothy Goodman is a designer, illustrator, and art director based in New York City. His clients include Airbnb, Google, Ford, J.Crew, MoMA, Target, The New Yorker, and The New York Times. Previously, Timothy worked in-house at Apple Inc., where he helped integrate Apple’s visual language across third party environments. He has received awards from most major design & illustration publications including The Art Directors Young Guns, Print magazine's New Visual Artist, and GDUSA’s “People to Watch.” Timothy graduated from the School of Visual Arts in NYC, where he now teaches. In conjunction with his client work, he spends a significant amount of time on personal projects and writing, including the blog and book 40 Days of Dating, that garnered 10 million unique visitors, and whose film rights have been optioned by Warner Bros., and his Instagram writing series “Memories of a Girl I Never Knew” which was exhibited at the concept store Colette in Paris, France. He frequently lectures about his work.</p>
			<h3>Thank You For Attending!</h3>
		</div>

		<div class="event" id="agencycrawl">
			<h3>Thurs, Sept 17</h3>
			<h2>Teaser: Agency Crawl</h2>
			<h4>Downtown Cincinnati <a href="https://www.google.com/maps/d/edit?mid=zTm4fvUBaRRk.kUdQt1cDBWSc&usp=sharing">Map of the crawl</a> | 5:30pm | FREE</h4>
			<!-- <p>&lt;ATTENTION&gt;<br>We will be starting the crawl at POSSIBLE at 5:30pm. Due to limited capacity, tickets are required for the crawl. The final agency will either be Spicefire or Foster &amp; Flux depending on your group. We suggest parking by either of these agencies. If you cannot find a lot/garage to park in, we suggest downloading the Passport Parking app so you can pay your meter/spot through your phone.<br>&lt;/ATTENTION&gt;</p> -->
			<p>Get on the crawl! This free warm-up event for Cincinnati Design Week is your chance to get a behind the scenes tour of the design agencies in downtown Cincinnati and meet some of the amazing designers that work for them. The participating studios and agencies are excited to welcome you so be prepared for some fun and a few adult beverages. Wear comfortable shoes, we will be walking.</p>
			<p>Stops on the crawl:</p>
			<ul>
				<li>POSSIBLE</li>
				<li>Gaslight</li>
				<li>Spicefire</li>
				<li>Foster &amp; Flux</li>
			</ul>
			<p>Though this is a free event, spots are limited. Be sure to RSVP to secure your spot!</p>
			<p>About <a href="https://www.possible.com/">POSSIBLE</a>:<br>POSSIBLE is a creative agency that cares about results. With over 25 offices spanning five continents, POSSIBLE boasts some of the best creative minds on the planet. They use the power of this collective intelligence to transform the industry and elevate global brands like Microsoft, Coca-Cola, and the Bill &amp; Melinda Gates foundation. </p>
			<p>About <a href="https://teamgaslight.com/">Gaslight</a>:<br>Gaslight transforms businesses with technology. We design and develop custom software and feature rich websites for small- to medium-sized businesses. These apps help our clients boost profits, innovate faster, radically improve productivity, and launch entirely new businesses. We also lead online and in-person software development training for teams and individuals.</p>
			<p>About <a href="http://www.spicefire.co/">Spicefire</a>:<br>Creative Agencies come in different shapes and sizes. Some are process led, many are identified by the work that they do. At Spicefire, our people-driven culture allows us to live inspired, challenge convention, and serve as a catalyst to ignite what's possible for brands and businesses.  Located in the heart of Over-the-Rhine, the transformative epicenter of Cincinnati, we are a Brand Innovation agency with a passion for solving problems and creating with purpose.  </p>
			<p>About <a href="http://www.fosterandflux.com/">Foster &amp; Flux</a><br>Foster &amp; Flux is an animation studio located in Cincinnati, OH. Sure, we're small, but we provide our clients with a passionate and personal experience that is often lost in the midst of deadlines and budgets. Our creative expertise offers us a unique opportunity to push the boundaries of video, bringing together vivid storytelling with a design aesthetic that's both thoughtful and beautiful.</p>
			<h3>Thank You For Attending!</h3>
		</div>

		<div class="event" id="creativemornings">
			<h3>Fri, Sept 25</h3>
			<h2>CreativeMornings</h2>
			<h4><a href="https://www.google.com/maps/place/22+Garfield+Pl,+Cincinnati,+OH+45202/data=!4m2!3m1!1s0x8841b156de844a15:0x44ef10ac1c87207?sa=X&ved=0CB4Q8gEwAGoVChMI_Z6xxuvvxwIVSHySCh3nKA7D">LPK Brand Innovation Center</a> | 8:30am | FREE</h4>
			<p>CreativeMornings is a free, monthly breakfast lecture series for creative communities. Each event is free, and includes a 20 minute talk, plus coffee!</p>
			<p>About the speakers:</p>
			<p>Kate Hanisian<br>Design Impact Executive Director, Co-founder<br>Kate has over fifteen years of professional experience in creative social sector development. Her work with Design Impact began in 2009 while living and working in a rural south Indian village. Since then she has grown the organization from a small idea to a full-fledged public interest design firm that uses innovative approaches to address pressing community needs. She has provided consultation and partnership to various organizations such as the Annie E. Casey Foundation, Aspen Institute, TEDx, and the National Endowment for the Arts.</p>
			<p>In addition to leading Design Impact, she teaches as an Adjunct Faculty member at the University of Cincinnati and the Center for Creative Leadership. Kate’s work has been published through media outlets such as Stanford Social Innovation Review, Fast Company, and GOOD, and she is listed as one of Public Interest Design’s Top 100 Global Designers. Her experiences in corporate, non-profit, and educational settings have given her a unique ability to build diverse, cross-sector partnerships that create positive social change.</p>
			<p>Aside from to do-good stuff, Kate likes to make up jingles, design spontaneous obstacle courses, and untangle stubborn knots.</p>
			<p>Ramsey Ford<br>Design Impact Design Director, Co-founder<br>Ramsey’s experience as a leader in social innovation is rooted in his background of entrepreneurship and product development. In his work as a design consultant, he helped several Fortune 500 companies develop and successfully market innovative and category-transforming products. As a serial entrepreneur, he has developed successful service and product based businesses and is listed on several patents.</p>
			<p>Due to his passion for social good, Ramsey invested his efforts in co-founding Design Impact, a social venture that connects design process with complex community issues. Through his work with Design Impact, Ramsey has worked on or directed over 45 social change projects, ranging from local health initiatives to nationwide skill building platforms. An award winning designer for both his for- and non-profit projects, Ramsey has worked to further the conversation on innovative design in the social sector through numerous workshops, published articles, and speaking engagements.</p>
			<p>In addition to the aforementioned, Ramsey is known to bring a flare for air guitar, a love of making things up, and a knack for drawing puzzling, yet comical doodles.</p>
			<h3>Thank You For Attending!</h3>
		</div>

		<div class="event" id="productcamp">
			<h3>Sat, Sept 26</h3>
			<h2>ProductCamp Cincinnati</h2>
			<h4><a href="https://www.google.com/maps/place/paycor/@39.1661672,-84.4564456,15z/data=!4m2!3m1!1s0x0:0xdad1477136250cbb?sa=X&sqi=2&ved=0CEMQrwswCGoVChMI6sCrw4eOxwIVyR0-Ch1ANgVF">Paycor HQ</a> | 8:00am | FREE</h4>
			<p>ProductCamp Cincinnati is the premiere event for Entrepreneurs, Product Management, Product Marketing and Marketing Professionals as well as Designers, Engineers and Data Scientists who are interested in learning best practices, sharing insights, and networking with top minds in the local product community. </p>
			<h3>Thank You For Attending!</h3>
		</div>

		<div class="event" id="craftbrewment">
			<h3>Mon, Sept 28</h3>
			<h2>The Craft Brewment: The Branding Behind the Beer Presented by RDG &amp; LemonGrenade</h2>
			<h4><a href="https://www.google.com/maps/place/Longworth+Hall+Design+Center/@39.0956055,-84.5237244,17z/data=!3m1!4b1!4m2!3m1!1s0x8841b6b3b4f4aed1:0x2e7cc7a3a384f1c8">Longworth Hall</a> | 5:30pm - 8:30pm | 21+ only | $7 - $15</h4>
			<p>Have you always wondered who the designer was behind your favorite local craft brew? Us too. Enquiring minds wanna know..."Who Designed That?"  Join us for an evening of introductions, discussions, and beer tasting sessions! We will feature a panel of local designers, all whom are currently working on our favorite Cincinnati beer brands. In addition, we will also be hosting a beer tasting before and after the forum, featuring the breweries from the panel. Let's kick-off design week with a hops! </p>
			<p>Speaker panel:</p>
			<ul>
				<li>Nick Dew - <a href="http://ei8htballbrewing.com/">Ei8htBall Brewing</a></li>
				<li>Jim Fugett - <a href="http://www.christianmoerlein.com/">Christian Moerlein</a></li>
				<li>Thommy Long - <a href="http://www.badtomsmithbrewing.com/">Bad Tom</a>, <a href="http://listermannbrewing.com/">Listermann</a>, <a href="http://tripledigitbrewing.com/">Triple Digit</a></li>
				<li>Keith Neltner - <a href="http://www.braxtonbrewing.com/">Braxton Brewery</a> </li>
				<li>John Pattison - <a href="http://www.madtreebrewing.com/">MadTree</a> </li>
			</ul>
			<p>This event is 21+ only!</p>
			<p>About <a href="http://ruttledg.com/">RDG</a>:<br>RDG connects all design disciplines to create integrated design experiences – from the digital space to the physical space, we uncover human-centered solutions that drive results through processes and collaboration in a redefined way.</p>
			<p>About <a href="http://lemongrenade.com/">LemonGrenade</a>:<br>At LemonGrenade Creative, we believe amazing graphic design has the power to tell amazing stories. If a picture is worth a thousand words, our design talks volumes.</p>
			<h3>Thank You For Attending!</h3>
		</div>

		<div class="event" id="kapture">
			<h3>Tue, Sept 29</h3>
			<h2>It’s Not About You: Who Should Be at the Center of Your Design </h2>
			<h4><a href="https://www.google.com/maps/place/1311+Vine+St,+Cincinnati,+OH+45202/@39.10984,-84.51546,17z/data=!3m1!4b1!4m2!3m1!1s0x8841b3fd946f5f5f:0xe7cb86cc17044539">Union Hall OTR</a> | 8:30am | FREE - $5</h4>
			<p>As creators, it's easy to build stuff that makes us happy. But how do we get outside of our own heads and deliver meaningful work that will not only reach but inspire the right people? In this presentation, we'll highlight (three) artists who follow a similar design process and yet deliver completely different works of art. Whether you’re designing an app, an event poster, a piece of social media content or an art installation, you'll learn how to deliver an experience with the right appeal and maximum impact.</p>
			<p>Speaker panel:</p>
			<ul>
				<li>Levi Bethune - Epipheo</li>
				<li>Matt Dooley - Dooley Media/Kapture</li>
				<li>Jason Snell - We Have Become Vikings</li>
			</ul>
			<p>Free coffee and breakfast will be provided.</p>
			<p>About <a href="http://www.dooleymedia.com/">Dooley Media</a>:<br>Dooley media is your partner in taking full advantage of social technologies to connect with key stakeholders and grow your business. We specialize in social media strategy development, execution, measurement and education. Whether you’re just getting started with social media or looking to take it to the next level, dooley media will apply a customized, strategic framework to keep you ahead of the game. Our goal is to take what you already do well and bring it online into shareable platforms that extend the reach and impact of your brand. </p>
			<p>About <a href="http://www.epipheo.com/">Epipheo</a>:<br>We create top-quality video content for massive fortune 100 companies that we can't even mention here, as well as small businesses and startups you haven't heard of...yet. We work with, around, among, beyond, and for agencies. We're kind of a secret agency. http://www.epipheo.com/</p>
			<p>About <a href="http://kaptureaudio.com/">Kapture</a>:<br>Make Your Moments Heard. The best things you hear throughout the day come and go in an instant. Kapture makes it easy to save any 60-second snippet of audio after-the-fact, without taking you out of the moment.</p>
			<p>About <a href="http://wehavebecomevikings.com/">We Have Become Vikings</a>:<br>WHBV creates everything from identities, motion graphics, videos, posters, websites, publications, broadcast packages, illustrations, and photography, to name a few. We call Cincinnati home, and our clients range from companies on the Fortune 100 list to small coffee shops in our own neighborhood. Our creations happen through asking questions, working hard, and allowing for the discovery process to excite and inspire us.</p>
			<h3>Thank You For Attending!</h3>
		</div>

		<div class="event" id="garagegroup">
			<h3>Tue, Sept 29</h3>
			<h2>Iterative Development in Corporate Environments</h2>
			<h4><a href="https://www.google.com/maps/place/Longworth+Hall+Design+Center/@39.0956055,-84.5237244,15z/data=!4m2!3m1!1s0x0:0x2e7cc7a3a384f1c8?sa=X&ved=0CIUBEPwSMBBqFQoTCJKZoenKwscCFcMbHgodSb4B7Q">The Garage Group (Longworth Hall)</a> | 12:00pm | $5 - $15</h4>
			<p>Practical Approaches to Translate and Adopt Hallmark StartUp Approaches Within Big Corporations for Strategy, Idea, Product and Service Development</p>
			<p>Corporate brands and teams are asking: “How can we be more entrepreneurial?” They want to innovate and grow faster, iterate more effectively, and compete with smaller, more nimble players. We’ll share practical approaches and case studies for translating StartUp approaches within a corporate environment, specifically around MVP development, brand strategy/architecture, idea development and insight discovery. You’ll learn how to take iterative approaches to the next level, the why and how of developing multiple directions and what’s on the horizon for new StartUp inspired approaches.</p>
			<p>Free lunch will be provided.</p>
			<p>About <a href="http://www.thegaragegroup.com/">The Garage Group</a><br>The Garage Group is a new kind of strategy firm with a mission for enabling corporate teams and brands to innovate and grow like startups. We bring an entrepreneurial approach to innovation and growth challenges for existing brands and businesses as well as new ventures groups through insights, ideas, concept development, and brand architecture. Our clients include Fortune 1,000 companies like Mars Petcare, Abbott Nutrition, Heinz, Staples and Reebok, and Brands like Pringles, Nutro, PediaSure and Yankee Candle.</p>
			<h3>Thank You For Attending!</h3>
		</div>

		<div class="event" id="pharmacy">
			<h3>Tue, Sept 29</h3>
			<h2>Distort the Panel</h2>
			<h4><a href="https://www.google.com/maps/place/18+W+7th+St,+Cincinnati,+OH+45202/@39.1037709,-84.5144168,17z/data=!3m1!4b1!4m2!3m1!1s0x8841b1572a9de43d:0xcab9253733186945">The Pharmacy Co.</a> | 6:00pm | FREE</h4>
			<p>Such &amp; Such, BS and the Pharmacy co. present an immersive, modular art installation that visually narrates the collaborative process between small and independent creative agencies. I am BS, neither Such &amp; Such nor the Pharmacy co. I am a copywriter who listened to Such &amp; Such and the Pharmacy co. describe the installation and event so that I could describe it to you. I asked them to list words they use to talk about their piece and the atmosphere they want to create and they used words like inspiring, multi-disciplinary, community and partnership. This is how collaboration works. Such &amp; Such and the Pharmacy co. are not writers nor do they want to be. They are makers and artists who communicate with image and material. I communicate with words.  </p>
			<p>Please come to 18 W 7th street at 6:00PM to experience Distort the Panel along with live DJ, adult beverages, and small bites.</p>
			<p>About <a href="http://www.thepharmacyco.com/">The Pharmacy Co.</a>:<br>Pharmacy is an independent, holistic creative agency comprised of artists united by a common thread - passion to build a vision and voice for out brand partners through meaningful and purposeful storytelling.  </p>
			<p>About <a href="http://suchandsuchsite.com/">Such + Such</a>:<br>Such + Such approaches object making from a holistic perspective, internalising all phases of experimentation, development, and production. Paired with a commitment to digital manufacturing, this methodology allows us to produce highly refined and precisely crafted objects regardless of quantity.Operating out of the historic Over-the-Rhine neighborhood, Such + Such provides design and fabrication services to a range of clients nationwide. </p>
			<h3>Thank You For Attending!</h3>
		</div>


		<div class="event" id="segd">
			<h3>Wed, Sept 30</h3>
			<h2>XGD: Experiential Graphic Design Presented by SEGD</h2>
			<h4><a href="https://www.google.com/maps/place/art+academy+of+cincinnati/@39.1088102,-84.5138106,15z/data=!4m2!3m1!1s0x0:0xbdd70dee1b3bac20?sa=X&ved=0CHgQ_BIwDmoVChMI3IjO1uPvxwIVkouSCh1R7ghJ">Art Academy of Cincinnati</a> | 12:00pm | $5 - $15</h4>
			<p>Architects, Graphic, Interior, Retail, and Industrial Designers, Branding and Experience Consultants, Fabrication and Production Specialists, Design Educators and Students, Digital Content Designers – we are all members of the Experiential Graphic Design (XGD) community. Join SEGD Cincinnati Chapter Chairs, Hannah Anderson and Margaret Lange, as they break down the many facets of this discipline and let you explore the dynamic local and international work that is stemming from these collaborative, cross-disciplinary relationships.</p>
			<p>Free lunch will be provided</p>
			<p>About <a href="https://segd.org/">SEGD</a>:<br>We are the global, multidisciplinary community of professionals who plan, design, and build experiences that connect people to place.</p>
			<p>We are graphic and information designers, fabricators, architects, exhibition designers, technology integrators, interaction designers, brand strategists, students, wayfinding specialists, teachers, and others who have a hand in shaping content-rich, experiential spaces.</p>
			<h3>Thank You For Attending!</h3>
		</div>

		<div class="event" id="cda">
			<h3>Wed, Sept 30</h3>
			<h2>Cincinnati Design Awards 2×4</h2>
			<h4><a href="https://www.google.com/maps/place/21c+Museum+Hotel+Cincinnati/@39.1030875,-84.5120572,15z/data=!4m2!3m1!1s0x0:0xe33d649a206cc71c?sa=X&ved=0CIoBEPwSMAxqFQoTCLybxJ-hx8cCFYKLDQodQCQOlw">21c Museum Hotel</a> | 5:30pm | FREE</h4>
			<p>The Cincinnati Design Awards program (CDA) has been honoring the best design projects for the built environment by local creative firms for almost 20 years. “2×4” is your chance to see recent award winning work and hear the designers speak about influencing the built world from diverse disciplinary perspectives.</p>
			<p>Four creative disciplines will each be represented by two projects presented in a 15 minute time frame—for an hour long fast paced event. All projects are recent award winners that represent the most cutting edge design Cincinnati is producing in architecture, interior design, experiential graphic design, and landscape design.</p>
			<p>Sign in and the cash bar social starts at 5:30pm. Presentations begin at 6pm.</p>
			<p>Speaker list:</p>
			<ul>
				<li>Jim Cheng, Emersion</li>
				<li>Mary Dietrich, Kolar Design</li>
				<li>Ryan Geismar, UC</li>
				<li>Keith Hall, MSA</li>
				<li>Jon Hofmann, GBBN</li>
				<li>Lupe Lopez, Lopez Studio Group</li>
				<li>Chris Manning, Human Nature</li>
				<li>Jeff Sackenheim, SHP</li>
			</ul>
			<p>The CDA program is a collaboration between <a href="http://aia.org/">AIA</a> (architecture), <a href="http://www.iida.org/">IIDA</a> &amp; <a href="https://www.asid.org/">ASID</a> (interiors), <a href="https://segd.org/">SEGD</a> (experiential graphics), and <a href="https://asla.org/">ASLA</a> (landscape).</p>
			<h3>Thank You For Attending!</h3>
		</div>

		<div class="event" id="offf">
			<h3>Wed, Sept 30</h3>
			<h2>OFFF</h2>
			<h4><a href="https://www.google.com/maps/place/aronoff+center/@39.1036158,-84.5114304,15z/data=!4m2!3m1!1s0x0:0x33bb762ccbfebead?sa=X&ved=0CJcBEPwSMA5qFQoTCJLSlbre78cCFYGqHgod30UGDw">Aronoff Center</a> | 9:00am - 6pm | $30 - $50</h4>
			<p>OFFF Cincinnati is an event where the entire creative community can engage with artists and designers from around the world through inspirational talks. What differentiates OFFF from other conferences is the passion and diversity of techniques that the presenters share, from handcraft and analog to cutting edge digital processes.</p>
			<p>OFFF features some of the world’s biggest names and brightest minds exploring design and technology at this moment - including coders, illustrators and motion graphic designers.</p>
			<p>Speakers:</p>
			<ul>
				<li>Mucho</li>
				<li>Moment Factory</li>
				<li>Lo Siento</li>
				<li>B-Reel</li>
				<li>Field</li>
				<li>Laika</li>
				<li>Territory</li>
			</ul>
			<h3>Thank You For Attending!</h3>
		</div>

		<div class="event" id="techleaders">
			<h3>Thu, Oct 1</h3>
			<h2>Tech Leaders: Presented by WomanUp + Girl Develop It </h2>
			<h4><a href="https://www.google.com/maps/place/Rhinegeist+Brewery/@39.1172004,-84.5203258,17z/data=!3m1!4b1!4m2!3m1!1s0x8841b3f9acd61b67:0x402ea6be65897064">Rhinegeist</a> | 8:30am | FREE - $5</h4>
			<p>Join us for a panel discussion with leaders in tech who are paving the way in their field. We'll talk about what it takes to be a leader in the always changing creative community, how they got their start, and and learn more about the digital side of our industry. Our panel will include professionals in web design and development, social media, and more. Come early to network, enjoy coffee and light breakfast at 8:30. The panel discussion will start promptly at 9:00 am, with time for questions from attendees. </p>
			<p>Speaker Panel:</p>
			<ul>
				<li>Elizabeth Naramore Barron - Patchwork Community Manager, GitHub</li>
				<li>Anna Diederichs - Sr. Art Director, Cincinnati Children's</li>
				<li>Julie Niesen Gosdin, Global Content Leader, Zebra Technologies</li>
				<li>Shannon Lewandowski - VP, Business Innovations, Rockfish</li>
				<li>Nikki Ridenour - UX/Digital Designer</li>
			</ul>
			<p>Free coffee and breakfast will be provided.</p>
			<p>About <a href="http://cincinnati.aiga.org/womanup/">WomanUp</a>:<br>AIGA Cincinnati is ready to increase diversity in our creative community by championing female talent. We’re ready to empower the professional development of female leaders. We’re ready to build a creative network that supports gender equality. We’re ready to WOMAN UP!</p>
			<p>About <a href="https://www.girldevelopit.com/chapters/cincinnati">Girl Develop It</a>:<br>Girl Develop It Cincinnati exists to provide affordable, judgement-free classes for women looking to advance their knowledge of technology and web development, as well as create a community of female techies in the Tri-State area.</p>
			<h3>Thank You For Attending!</h3>
		</div>

		<div class="event" id="adifferentstartupstory">
			<h3>Thurs, Oct 1</h3>
			<h2>A Different(ial) Startup Story</h2>
			<h4><a href="https://www.google.com/maps/place/Differential/@39.10502,-84.51131,15z/data=!4m2!3m1!1s0x0:0x9e8f0da9e27f8c64?sa=X&ved=0CHUQ_BIwDGoVChMIlvTF74yOxwIVhG0-Ch14kQzt">Differential</a> | 12:00pm | $5 - $15</h4>
			<p>What started in 2012 as a small group of people with a big idea has evolved into a successful and sought after development studio in downtown Cincinnati. Tim Metzner will give us the low-down on Differential’s life cycle and the importance of doing meaningful work, having core values and creating a high-trust environment.</p>
			<p>Free lunch will be provided.</p>
			<p>About <a href="http://differential.com/">Differential</a>:<br>Differential a leading Meteor development shop. We work with innovators around the world to develop cutting edge web and mobile apps. Our team is made up of good people (actually, we think they’re pretty great) with deep technology &amp; innovation experience - which includes creating, marketing, growing and successfully exiting our own startups, to helping Fortune 100 companies fill their pipelines with game-changing new products and services. We’re more than a collection of coders. We’re also coaches and connectors that can help you bring meaningful ideas to life, through technology. </p>
			<h3>Thank You For Attending!</h3>
		</div>

		<div class="event" id="drinkup">
			<h3>Thurs, Oct 1</h3>
			<h2>QCMerge Drinkup: Drink &amp; Draw Edition</h2>
			<h4><a href="https://www.google.com/maps/place/Montgomery+Inn-Boat+House/@39.1039498,-84.4946238,15z/data=!4m2!3m1!1s0x0:0xba5c7ac5c825f06a">Montgomery Inn-Boat House</a> | 5:30pm | FREE</h4>
			<p>This Drink + Draw edition of the QC Merge Drink Up is a great way to get to know our creative community in a relaxed setting and show off some of those killer (or not-so-killer) hand skills. The main point is to drink, be creative, and let loose. There are a few rules and more importantly, there will be prizes. So sign up, come out, and enjoy your first drink on us at the Montgomery Inn Boathouse as part of Cincinnati Design Week 2015. </p>
			<p>P.S. Your first drink is free!</p>
			<p>Rules:</p>
			<ol>
				<li>48 hours before the drink up, submit a theme you want to draw using <a href="https://twitter.com/search?f=tweets&q=%23QCMDrinkAndDraw&src=typd">#QCMDrinkAndDraw</a> on Twitter</li>
				<li>Drink! The liquid courage we need to get those creative juices flowing</li>
				<li>10 minutes to draw whatever you want related to the prompt.</li>
				<li>The artwork will be collected every thirty minutes for judging.</li>
				<li>Judging will take place during subsequent 30 minute drawing sessions and will be announced after.</li>
				<li>1 prize (Yay, FREE Beer) will be awarded every round as decided by our jury.  </li>
				<li>Artwork must be contained within the paper provided.</li>
				<li>Pencils/Pens will be provided, but feel free to bring your own.</li>
				<li>Drink! </li>
			</ol>
			<p>About the <a href="http://www.meetup.com/QCMDrinkup/">QCMerge Drinkup</a>:<br>The QCMDrinkup is open to all individuals who love to talk about technology, digital design, and digital marketing, social media - and, of course, drinking!</p>
			<h3>Thank You For Attending!</h3>
		</div>

		<div class="event" id="oenhammonds">
			<h3>Thurs, Oct 1</h3>
			<h2>Oen Hammonds: People + Practice + Places = Outcomes</h2>
			<h4><a href="http://parking.nku.edu/visit.html">NKU (Votruba Student Union)</a> | 6:30pm - 9:00pm | FREE</h4>
			<p>Oen Michael Hammonds, a designer, mentor and lead facilitator at IBM Design, has designed across the gamut—advertising, graphic, interactive and environmental. Oen's previous work with diverse clients in the consumer, business and technology industries demonstrate his ability to jump in and solve tough challenges. At IBM Design, Oen works with the award-winning Education + Activation team to develop education programs and experiences for executives, software development teams. In this role, Oen facilitates workshops that activate participants to effectively apply IBM Design Thinking to build iconic products with human centered experiences.</p>
			<p>Outside of his 9-to-5, Oen teaches design as an adjunct instructor and has shared his design experience at a variety of colleges and universities throughout the country. He is a passionate mentor to early and mid-career design practitioners and enjoys sharing his stories of failures and successes with those who are willing to listen to his Southern drawl.</p>
			<h3>Thank You For Attending!</h3>
		</div>

		<div class="event" id="bldg">
			<h3>Fri, Oct 2</h3>
			<h2>BLDG: Behind the Antlers</h2>
			<h4><a href="https://www.google.com/maps/place/The+BLDG/@39.0838751,-84.5112206,15z/data=!4m2!3m1!1s0x0:0x65baa2726bf0e1f9">BLDG</a> | 8:30am | FREE - $5</h4>
			<p>The creative Kentuckians at BLDG invite you into their gallery to give a full look into what makes them work. Less of a presentation and more of an experience, this exposé explains how their Covington locale, their connection with the urban contemporary art world, and their branding prowess work together to create inspirational, visionary and uncommon design solutions for clients.</p>
			<p>Free coffee and breakfast will be provided.</p>
			<p>About <a href="http://bldgrefuge.com/">BLDG</a>:<br>We are a creative refuge that fosters the inspirational, the visionary and the uncommon. Where copious creatives challenge the norm, stand on the ceiling, change what’s possible. Transformation is inevitable, ordinary is unacceptable. Enter the front door. Play on every floor. Leave different. Let’s create.</p>
			<h3>Thank You For Attending!</h3>
		</div>

		<div class="event" id="spicefire">
			<h3>Fri, Oct 2</h3>
			<h2>Designing the Future: Ignite What’s Possible</h2>
			<h4><a href="https://www.google.com/maps/place/Spicefire/@39.1105701,-84.5168365,15z/data=!4m2!3m1!1s0x0:0xd4a39137bec53927?sa=X&ved=0CHsQ_BIwC2oVChMIrvjLscrExwIVB9QeCh0Pwwm3">Spicefire</a> | 12:00pm | $5 - $15</h4>
			<p>A truly innovative brand creates unforgettable experiences. No matter the touch point, they obsessively strive to challenge convention and find new ways to connect, provoke, soothe, or simply empathize. Their experiences bleed outside the boundaries of the brand itself and seamlessly into your life. These are the brands we remember.</p>
			<p>SpiceFire is a brand innovation agency located in the transformative epicenter of Cincinnati - OTR. Our people-driven culture allows us to live inspired, challenge convention, and serve as a catalyst to ignite what's possible. We continuously feed off of the energy and vibrancy of the community around us and look for ways to be influenced by our surroundings. We invite you in to help us create a memorable experience of discovery, inspiration, and connection.</p>
			<p>Free lunch will be provided.</p>
			<p>About <a href="http://www.spicefire.co/">Spicefire</a>:<br>Creative Agencies come in different shapes and sizes. Some are process led, many are identified by the work that they do. At Spicefire, our people-driven culture allows us to live inspired, challenge convention, and serve as a catalyst to ignite what's possible for brands and businesses. Located in the heart of Over-the-Rhine, the transformative epicenter of Cincinnati, we are a Brand Innovation agency with a passion for solving problems and creating with purpose. </p>
			<h3>Thank You For Attending!</h3>
		</div>

		<div class="event" id="briansinger">
			<h3>Fri, Oct 2</h3>
			<h2>Brian Singer: How to Get Rich in Design</h2>
			<h4><a href="https://www.google.com/maps/place/Pallet23/@39.1577016,-84.5398995,15z/data=!4m2!3m1!1s0x0:0xa590f4969387e656?sa=X&ved=0CHIQ_BIwEWoVChMI9a6_8p_3xwIVRBo-Ch2rOgR_">Pallet23</a> | 6:00pm | $10 - $25</h4>
			<p>Brian is rich. Filthy rich. All because of design. In this talk, he’ll share the path he took, the secret to success, and provide detailed, step­by­step instructions on how you too can get rich in design. </p>
			<p>Attendees can also attend the CDW Finale with Brian Singer for FREE after the talk.</p>
			<p>About Brian Singer:</p>
			<p>Brian Singer is a San Francisco-based artist and designer. He is currently the Design Manager for Brand Creative at <a href="https://www.pinterest.com/">Pinterest</a>. Prior to joining Pinterest, Brian managed design teams at <a href="https://www.facebook.com/">Facebook</a>, and ran his own studio working with such companies as <a href="http://www.apple.com/">Apple</a>, <a href="http://www.adidas.com/">Adidas</a> and <a href="http://www.chroniclebooks.com/">Chronicle Books</a>. </p>
			<p>Brian is best known for his provocative social projects, such as <a href="http://www.twitspotting.com/">TWIT Spotting (Texting While In Traffic)</a>, which attracted international news coverage (including The Today Show, Time, and Gizmodo) as an unconventional approach to curbing distracted driving. He is also the creator of <a href="http://www.1000journals.com/">The 1000 Journals Project</a>, a global art experiment that resulted in a book, a feature length documentary, and was exhibited at both the San Francisco Museum of Modern Art and the Skirball Cultural Center in Los Angeles. </p>
			<p>In 2013, Brian joined the national board of AIGA, the professional association for design. Prior to that, he was president of the San Francisco Chapter of AIGA and served on the advisory board for the San Francisco Arts Commission Gallery. </p>
			<h3>Thank You For Attending!</h3>
		</div>

		<div class="event" id="finale">
			<h3>Fri, Oct 2</h3>
			<h2>CDW Finale with Brian Singer</h2>
			<h4><a href="https://www.google.com/maps/place/Barrio+Tequileria/@39.158013,-84.540036,15z/data=!4m2!3m1!1s0x0:0x258bad8294c10d49?sa=X&ved=0CIEBEPwSMApqFQoTCNLI-aOg98cCFQptPgodn0gINg">Barrio Tequileria</a> | 7:30pm | FREE - $5</h4>
			<p>Come meet Brian Singer after his event to hang out and join us as we celebrate another year of creativity and design at the CDW Finale.</p>
			<p>Enjoy some free drinks and free appetizers, grab a photo &amp; ask Brian some questions, meet your amazing AIGA Cincinnati board, and meet other attendees and those in the Creative community.</p>
			<p>Yes, we said free drinks and free appetizers. It's a celebration!</p>
			<p>This event is FREE for those attending the "How to Get Rich in Design" event and for AIGA members.</p>
			<p>This event is sponored by Creatives on Call. Thank you for making the free drinks and food possible!</p>
			<p>About <a href="https://creativesoncall.com/">Creatives on Call</a>:<br>Creatives On Call is a placement agency dedicated to matching creatives in design, digital, advertising, marketing and communications in temporary, freelance and permanent positions.</p>
			<h3>Thank You For Attending!</h3>
		</div>

	</div>
</section>