<section id="tickets">
	<aside>
		<h1>tickets</h1>
	</aside>
	<div class="main">
		<p>Events will be individually ticketed online and at the door, provided there are still seats available. If an event is free to attend, it is still important to RSVP, as some events have a maximum number of seats and your RSVP guarantees you will recieve one.</p>

		<div class="event" id="agencycrawl">
			<h3>Thurs, Sept 15</h3>
			<h2>Teaser: Agency Crawl</h2>
			<h4>Downtown Cincinnati <a href="https://www.google.com/maps/d/u/0/edit?mid=1Z_nj06P6oCrD8dY-r9Cffg8gEc4">Map of the crawl</a> | 6:00pm | FREE</h4>
			<p><strong>&lt;ATTENTION&gt;<br>We will be starting the crawl at Curiosity Advertising at 6:00pm. Due to limited capacity, tickets are required for the crawl. The final agency will either be The Creative Department or We Have Become Vikings depending on your group. We suggest parking by either of these agencies. If you cannot find a lot/garage to park in, we suggest downloading the Passport Parking app so you can pay your meter/spot through your phone.<br>&lt;/ATTENTION&gt;</strong></p>
			<p>Get on the crawl! This free warm-up event for Cincinnati Design Week is your chance to get a behind the scenes tour of the design agencies in downtown Cincinnati and meet some of the amazing designers that work for them. The participating studios and agencies are excited to welcome you so be prepared for some fun and a few adult beverages. Wear comfortable shoes, we will be walking.</p>
			<p>Stops on the crawl:</p>
			<ul>
				<li>Curiosity Advertising</li>
				<li>The Creative Department</li>
				<li>We Have Become Vikings</li>
			</ul>
			<p>Though this is a free event, spots are limited. Be sure to RSVP to secure your spot!</p>
			<p>About <a href="https://curiosity360.com/">Curiosity Advertising</a>:<br>Curiosity Advertising is the unique combination of traditional full-service offerings and unconventional creativity. It was founded on the belief that if we experiment with purpose, if we push with direction, our clients will thrive. This approach keeps our agency fresh, our work exceptional and our relationship with our clients one that goes beyond business.</p>
			<p>About <a href="http://www.creativedepartment.com/">The Creative Department</a>:<br>The Creative Department is an advertising agency of pioneers. Visionaries. Brand builders and entrepreneurs. Irrepressible thinkers. Brave doers.</p>
			<p>About <a href="http://wehavebecomevikings.com/">We Have Become Vikings</a>:<br>We Have Become Vikings is a group of rebels, rockers, thinkers and makers combining strategy and design to help clients tell stories through any means possible — a true creative shop.</p>
			<!-- <h3 class="comingsoon">Tickets Coming Soon</h3> -->
			<!-- <p><a href="http://cincinnati.aiga.org/event/agency-crawl-2/" class="button">RSVP For This Event</a></p> -->
			<!-- <h3 class="comingsoon">This Event Is Sold Out!</h3> -->
			<h3 class="comingsoon">Thank you for attending!</h3>
		</div>

		<div class="event" id="creativejam">
			<h3>Mon, Sept 19</h3>
			<h2>Teaser: Adobe Creative Jam</h2>
			<h4><a href="https://goo.gl/maps/Uc5EtVq4CP42">Rhinegeist</a> | 7:00pm | FREE</h4>
			<p>Creative Jam is a unique two-part creative experience where design duos compete in a tournament utilizing Adobe Creative Cloud; meanwhile, a group of creative leaders will be detailing their own creative process in the Creative Jam Presentations next door to a large audience. After three hours and no rules, the teams present their work to an audience/jury who chooses a winning team.</p>
			<p>Did we mention there will be free beer, wine and food? You will also be able to receive a free poster created by Austin Dunbar.</p>
			<p>Speaker:</p>
			<ul>
				<li>Erin Barker</li>
				<li>Ben Nunery</li>
				<li>Amanda Checco</li>
			</ul>
			<p><a href="https://nvite.com/CreativeJam/cin" class="button">RSVP For This Event</a></p>
		</div>

		<div class="event" id="offf">
			<h3>Sat, Sept 24</h3>
			<h2>OFFF Cincinnati</h2>
			<h4><a href="https://goo.gl/maps/sYHp2wqJgVT2">School of Creative and Performing Arts</a> | 9:00am | $25 - $50</h4>
			<p>The best creative conference in the world is returning to Cincinnati! On Saturday, September 24th. Héctor Ayuso returns to Cincinnati to celebrate the 16th anniversary of the OFFF design conference.</p>
			<p>OFFF Cincinnati is an event where the entire creative community can engage with artists and designers from around the world through inspirational talks and workshops. What differentiates OFFF from other conferences is the passion and diversity of techniques that the presenters share, from handcraft and analog to cutting edge digital processes.</p>
			<p>OFFF features some of the world’s biggest names and brightest minds exploring design and technology at this moment - including coders, illustrators and motion graphic designers.</p>
			<p>Speakers:</p>
			<ul>
				<li>Carl Sprague</li>
				<li>Outro Studio</li>
				<li>Adi Goodrich</li>
				<li>Lotta Nieminen</li>
				<li>Filmograph</li>
				<li>Timothy Goodman</li>
				<li>Lightborne</li>
			</ul>
			<p><a href="https://www.showclix.com/event/offf-cincinnati-2016" class="button">Buy Your Tickets For This Event</a></p>
		</div>

		<div class="event" id="ixda">
			<h3>Mon, Sept 26</h3>
			<h2>Ignite Your Design Career with UX</h2>
			<h4><a href="https://goo.gl/maps/nrHaR6Kap9F2">Union Hall</a> | 12:00pm | FREE</h4>
			<p><a href="http://aigacincinnati.org">AIGA Cincinnati</a> is partnering with <a href="http://www.ixda.org/local/ixda-cincinnati">IxDA Cincinnati</a> to bring you a Lunch n Learn panel on how graphic designers can leverage user experience techniques to inspire their work, including design thinking, personas and rapid prototyping. Our panelists will also share how they built on their graphic design skills to become UX practitioners.</p>
			<p>Speakers:</p>
			<ul>
				<li>Dustin Blankenship, Senior Designer, Hyperquake</li>
				<li>Dennis Cheatham, Graduate Director of the MFA in Experience Design, Miami University</li>
				<li>Annie Davis, UX Designer, Openfield Creative</li>
				<li>Juli Luebbe, Independent User Experience Consultant</li>
			</ul>
			<p>Lunch Sponsored By TEKsystems</p>
			<p>About <a href="https://www.teksystems.com/">TEKsystems</a>:<br>TEKsystems Digital and Creative Services supports strategic marketing initiatives for clients ranging from boutique agencies to Fortune 500 companies by supplying skilled design, development, functional and technical resources.  A division of TEKsystems, a $3.7 Billion global IT staffing, talent management and services leader, TEKsystems Digital and Creative Services thrives at the intersection of technology and marketing.  We offer the focus of a specialized niche firm while providing the experience, scalability, depth and reach of a global partner.</p>
			<p><a href="http://cincinnati.aiga.org/event/ignite-your-design-career-with-ux-presented-by-ixda/" class="button">Join The Waitlist</a></p>
			<!-- <h3 class="comingsoon">SOLD OUT</h3> -->
		</div>

		<div class="event" id="knowher">
			<h3>Mon, Sept 26</h3>
			<h2>KnowHer</h2>
			<h4><a href="https://goo.gl/maps/nrHaR6Kap9F2">Gaslight Software</a> | 6:00pm | $15 - $25</h4>
			<p>"You should just f$@k!ng know her." It's the phrase that comes to mind when we talk about our favorite women in design. Join us for presentations with five different designers, at different stages in their career. They'll share the best work they've done, the not so great work they've done, and the lessons they've learned along the way. We'll get to know them and their work, while celebrating women in design.</p>
			<p>We'll wrap things up with a short panel discussion, followed by a happy hour at Igby's. The exclusive happy hour is included in your ticket price, which includes free appetizers and networking with our panelists.</p>
			<p>This event is part of our <a href="http://cincinnati.aiga.org/womanup/">WomanUp initiative</a> and is open to all attendees, both men and women.</p>
			<p>Panel Talk: 6:00pm - 7:30pm<br>Happy Hour at Igby's: 7:30pm - 9:00pm</p>
			<p>Speakers:</p>
			<ul>
				<li>Shelby Albertz</li>
				<li>Megan Trischler</li>
				<li>Alexandra Dellis-Harcha</li>
				<li>Diane Hammons</li>
				<li>Sheila Lewis</li>
			</ul>
			<p><a href="http://cincinnati.aiga.org/event/knowher/" class="button">Buy Your Tickets For This Event</a></p>
		</div>

		<div class="event" id="breakfastclub">
			<h3>Tue, Sept 27</h3>
			<h2>Indie/Breakfast Club</h2>
			<h4><a href="https://goo.gl/maps/mzbM6Z5XdDQ2">The Hive</a> | 8:30am | FREE</h4>
			<p>It’s time for Indie/Breakfast Club #4, so get excited! Are you a freelance or independent graphic designer, copywriter, or developer in the design field? Then these Breakfast Clubs are for you!</p>
			<p>Doors open at 8:30 am for coffee and conversation. The Breakfast Club will officially begin at 8:45 am with a facilitated group discussion. This round we’ll be discussing the essential part of every business... clients! Can’t live with them, can’t live without them! That means anything from how to get clients, keep them, work with difficult ones, and more! The discussion will end at 9:45 leaving time to connect individually. Don’t forget, registration is limited so be sure to sign up quick! </p>
			<!-- <h3 class="comingsoon">Tickets Coming Soon</h3> -->
			<p><a href="https://creativemornings.com/talks/arJFm74gP49T1Ui6cRzwAA==" class="button">Join The Waitlist For This Event</a></p>
		</div>

		<div class="event" id="openfieldcreative">
			<h3>Tue, Sept 27</h3>
			<h2>Bending the Boundaries of Interface</h2>
			<h4><a href="https://goo.gl/maps/xamCMoyrsyF2">Openfield Creative</a> | 12:00pm | $15 - $25</h4>
			<p>Openfield Creative is a digital product studio that specializes in creating stellar user experiences for businesses who want to stand out in the marketplace. We are always asking ourselves how we can continue to elevate the role that Design plays in effecting change on behalf of our clients. As part of Cincinnati Design Week 2016, we invite you to join us to discuss how we, as design thinkers and makers, can be so much more.</p>
			<p><a href="http://cincinnati.aiga.org/event/bending-the-boundaries-of-interface/" class="button">Buy Your Tickets For This Event</a></p>
		</div>

		<div class="event" id="hyperquake">
			<h3>Tue, Sept 27</h3>
			<h2>Building Bridges: Connecting our Design Community</h2>
			<h4><a href="https://goo.gl/maps/RnjSJRVcZDq">Contemporary Arts Center</a> | 6:00pm | $10 Seat Holding Fee</h4>
			<p>Some of the most interesting work coming out of our city this year has been the result of collaboration—designers and other creatives who see each other as valuable resources, and develop partnerships to create something new. AIGA Cincinnati strives to help build bridges between creatives in our community—and they’d like your help with the blueprints.</p>
			<p><a href="http://www.hyperquake.com/">Hyperquake</a> and AIGA Cincinnati invite you to join us for a collaborative evening workshop on September 27. We’ll start by defining our hopes and expectations for our design community for the following years; then, we’ll ideate opportunities for AIGA member involvement, connection, and collaboration. This is your chance to design your own AIGA experience. (You’ll also get to know other designers, creatives, and AIGA Cincinnati board members with the same mindset!) Our community comes together for Cincinnati Design Week once a year—but starting with this workshop, you can make the other 51 weeks just as valuable.</p>
			<p><strong>Note: This is an AIGA members-only event. The $10 fee is to hold your seat. Upon checkin at the event, you have your choice to a full cash refund or an AIGA Cincinnati t-shirt. You may request a full refund prior 48 hours of the event. If you do not show up or fail to request a full refund prior 48 hours of the event, your $10 fee is considered a donation to AIGA Cincinnati. We thank you for your support.</strong></p>
			<!-- <h3 class="comingsoon">Tickets Coming Soon</h3> -->
			<p><a href="http://cincinnati.aiga.org/event/building-bridges-connecting-our-design-community/" class="button">Get Your Tickets For This Event</a></p>
		</div>

		<div class="event" id="adobeworkshop">
			<h3>Wed, Sept 28</h3>
			<h2>Designing and Prototyping with Adobe XD</h2>
			<h4><a href="https://goo.gl/maps/Te9CKStwsrq">Union Hall</a> | 2:00pm | $15 - $35</h4>
			<p>Experience matters. People decide within seconds whether your app or website is useful and engaging. Crafting a great user experience requires more than just visual design. Adobe XD is an app for doing it all -­‐ wireframing, visual design, interaction design, prototyping, previewing and sharing. In this session, we will show you how to design and prototype a complete experience using the new Adobe XD. Learn tips and tricks to immediately be more productive creating a great user experience.</p>
			<p>What you’ll learn:</p>
			<ul>
				<li>Crafting a design with Adobe XD.</li>
				<li>Using assets from Photoshop and Illustrator.</li>
				<li>Creating an interactive prototype from your design.</li>
				<li>Seeing your design in action with Live Preview.</li>
				<li>Sharing the prototype with others to get feedback.</li>
			</ul>
			<!-- <h3 class="comingsoon">Tickets Coming Soon</h3> -->
			<p><a href="http://cincinnati.aiga.org/event/designing-and-prototyping-with-adobe-xd/" class="button">Buy Your Tickets For This Event</a></p>
		</div>

		<div class="event" id="agiledesign">
			<h3>Wed, Sept 28</h3>
			<h2>Agile Design: How to Fail Your Way to Success</h2>
			<h4><a href="https://goo.gl/maps/nrHaR6Kap9F2">Gaslight Software</a> | 6:00pm | $15 - $25</h4>
			<p>It’s easy to look at a gorgeous mature app--Uber, Instagram, you name it--and think it was born polished and perfect. But the road to digital product success is littered with failure (and that’s a good thing). At Gaslight, we practice an agile design process that’s based around iteration. Rather than go for perfect out of the gate, we work quickly, test with clients and end users, and iterate based on real-world feedback.</p>
			<p>In this session, we’ll give you a full run down on the agile design process. You’ll come away with enough knowledge to apply this approach to your next project.</p>
			<p>About <a href="https://teamgaslight.com/">Gaslight Software</a>:<br>Gaslight is an agile software development consultancy. We design and develop web and mobile apps for growth-minded companies—everyone from startups to the Fortune 100.</p>
			<p><a href="http://cincinnati.aiga.org/event/agile-design-how-to-fail-your-way-to-success/" class="button">Buy Your Tickets For This Event</a></p>
		</div>

		<div class="event" id="liquidcourage">
			<h3>Wed, Sept 28</h3>
			<h2>Liquid Courage</h2>
			<h4><a href="https://goo.gl/maps/48omRGtpaRv">Igby's</a> | 7:00pm | FREE</h4>
			<p>Frosty cocktails, delicious appetizers, local creatives, and your right to vote! Join AIGA Cincinnati this Design Week for a special edition Liquid Courage at <a href="http://igbysbar.com/">Igby’s</a> in the heart of downtown! In addition to our usual kick ass creative networking, we are partnering with our friends at the League of Women Voters of the Cincinnati Area to inform you about voting in the tri-state as well as the opportunity to actually register to vote!</p>
			<p>Did we mention there will be free food?</p>
			<p>Grab your creative friends, your business cards, and your networking skills and we’ll see you on the second floor of Igby’s! </p>
			<p>Want to learn more about the League of Women Voters? Check it out: <a href="http://www.lwvcincinnati.org">lwvcincinnati.org</a></p>
			<p><a href="http://cincinnati.aiga.org/event/liquid-courage-design-week/" class="button">RSVP For This Event</a></p>
		</div>

		<div class="event" id="architour">
			<h3>Thurs, Sept 29</h3>
			<h2>ArchiTour Cincinnati: Coffee, Streetcar, and App Design</h2>
			<h4><a href="https://goo.gl/maps/Vyz4cqFHzZE2">Coffee Emporium</a> | 8:30am | FREE</h4>
			<p>Join us and <a href="http://www.aiacincinnati.org/">AIA</a> for a morning brew at Coffee Emporium and chat with the developers of a new app for self-guided architectural tours around downtown Cincinnati. One of the app's tours describes landmark buildings along the new Streetcar route as you ride, so bring your smartphones already loaded with the "ArchiTour Cincinnati" app (on <a href="https://play.google.com/store/apps/details?id=com.architecturecincy.tours">Google Play</a> and <a href="https://itunes.apple.com/us/app/architour-cincinnati/id1134937140?mt=8">iTunes</a>). You'll get a free ticket to hop on the Streetcar with the group after our talk so you can see it in action!</p>
			<p><a href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07ed6uizchb4a662e7&oseq=&c=&ch=" class="button">RSVP For This Event</a></p>
		</div>

		<div class="event" id="printtalkwithmohawk">
			<h3>Thurs, Sept 29</h3>
			<h2>Print Talk With Mohawk</h2>
			<h4><a href="https://goo.gl/maps/RnjSJRVcZDq">Contemporary Arts Center</a> | 11:45am | $15 - $25</h4>
			<p>Make effective things, great things, that slow people down, activate their senses and command their attention. The Mohawk Maker's Field Guide is here to help you do that by teaching you how to use uncoated textured and colored papers as a tool to move the needle from good to great.</p>
			<p>Join us for a talk featuring Hope Sowders, District Sales Manager and Digital Specialist for Mohawk Fine Papers. While she will not disclose how many years she has been in the industry, we can assure you she has worked with creatives, end-users, and printers to create beautiful, effective, and memorable messaging for a quite a while. This session is guaranteed to leave you wondering if she drinks a lot of caffeine or is she really that excited about paper – you decide! </p>
			<p>This Lunch &amp; Learn includes lunch (obviously), and lots of free swag / goodies, including a beautiful print Maker's Field Guide, it's a one-of-a-kind print experiece. </p>
			<p>Lunch is sponsored by <a href="https://www.mohawkconnects.com/">Mohawk</a> &amp; <a href="http://www.millcraft.com/">Millcraft Paper</a>.</p>
			<p>Speaker:</p>
			<ul>
				<li>Hope Sowders</li>
			</ul>
			<p><a href="http://cincinnati.aiga.org/event/print-talk-with-mohawk/" class="button">Buy Your Ticket For This Event</a></p>
		</div>

		<div class="event" id="miamiu">
			<h3>Thurs, Sept 29</h3>
			<h2>Designing for a Virtual Environment: A Tale of Two Workshops</h2>
			<h4><a href="https://goo.gl/maps/RnjSJRVcZDq">Contemporary Arts Center</a> | 6:00pm | $10 -$20 </h4>
			<p>Join Dr. Derek Ham and Helen Armstrong from NC State University as they get you up to speed on the current state of VR and give you ideas for physical prototyping exercises that anyone can try. Since the early days of flight simulators, designers have used mechanical and virtual environments to simulate real world experiences. Ham and Armstrong turn this on its head, using the real world, instead, to prototype for VR. You’ll leave with a fistful of resources and a burning desire to experiment with virtual reality.</p>
			<p>Speaker:</p>
			<ul>
				<li>Helen Armstrong</li>
				<li>Derek Ham</li>
			</ul>
			<p><a href="http://cincinnati.aiga.org/event/designing-for-a-virtual-environment-a-tale-of-two-workshops/" class="button">Buy Your Ticket For This Event</a></p>
		</div>

		<div class="event" id="creativemornings">
			<h3>Fri, Sept 30</h3>
			<h2>CreativeMornings: Jon Flannery</h2>
			<h4><!-- <a href="https://goo.gl/maps/RnjSJRVcZDq">Contemporary Arts Center</a> -->TBD | 8:30am | FREE</h4>
			<p>Sign ups start on Monday, September 26, 11:00 am. More Info To Come</p>
			<!-- <h3 class="comingsoon">Tickets Coming Soon</h3> -->
			<p><a href="https://creativemornings.com/talks/john-flannery" class="button">Learn More About The Event</a></p>
		</div>

		<div class="event" id="initiative">
			<h3>Fri, Sept 30</h3>
			<h2>The Usual Suspects: Redefining In-House Roles - Brought To You By TCG</h2>
			<h4><a href="https://goo.gl/maps/8yZ1HMWiBtA2">Art Academy of Cincinnati</a> | 9:00am | $10 - $20</h4>
			<p>Join us as AIGA Cincinnati kicks off our new <a href="http://www.aiga.org/inhouse-initiative">In-House INitiative</a> programming with a practical workshop aimed at empowering you the designer and strengthening your In-house team. Learn to bring your best and bring the best out of your team. Cincinnati’s best in-house creatives are coming together to deliver practical and unique workshops for 1) Junior Level Creatives, 2)Senior Level Creatives, and 3) Director Level Creatives.</p>
			<p>3 Breakout Sessions:</p>
			<ul>
				<li>Director: (led by Pat Morgan, Cyclebar) Cast your vision, gain team buy-in, and set an expectation of greatness</li>
				<li>Senior: (led by Anna Diederichs, Cincinnati Children's Hospital) Develop as a leader, make those around you stronger, because it’s not all about you.</li>
				<li>Junior: (led by Christine Brown, TQL) Bring your best, how to find great ideas and deliver them with confidence</li>
			</ul>
			<p>This In-House INitiative event is brought to you by TCG.</p>
			<p>About <a href="http://www.creativegroup.com">TCG</a>:<br>The Creative Group (TCG) specializes in placing highly skilled interactive, design, marketing, advertising, and public relations professionals with a variety of firms on a project and full-time basis. TCG offers ongoing information and resources to help creative professionals and companies keep up with ongoing changes in the industry, including INitiative’s Career Cues.</p>
			<p><a href="http://cincinnati.aiga.org/event/the-usual-suspects-redefining-in-house-roles/" class="button">Buy Your Ticket For This Event</a></p>
		</div>

		<div class="event" id="alexcenter">
			<h3>Fri, Sept 30</h3>
			<h2>Keynote: Alex Center - In-house is No Outhouse - Brought To You By Interbrand</h2>
			<h4><a href="https://goo.gl/maps/ZmNk9gMmA822">Woodward Theater</a> | 6:00pm | $15 - $35</h4>
			<p>For the past nine years, Coca-Cola Design Director Alex Center has been working in-house creating the brand, tone, and slightly humorous jokes that people have come to associate with the beverage brand vitaminwater. Center will share his story, the things he’s learned working inside both a small and large organization and explain why he believes that the future of branding is in-house.</p>
			<p><strong>A ticket to the keynote is also good for the CDW Afterparty that follows!</strong></p>
			<p>About <a href="http://thealexcenter.com/">Alex</a>:<br>Alex Center is a Brooklyn-based designer who works for the global beverage leader, The Coca-Cola Company. He grew up in the town of Oceanside NY, home to the world's second Nathan's Famous Hot Dogs. He once worked for the New York Knicks as a designer where he worked with both his childhood idol, John Starks and his nemesis Isiah Thomas. He has spent most of his professional hours being creative on behalf of the beverage brand vitaminwater. Over the years, he has designed packaging that has been in hands across the globe, created breakthrough marketing campaigns, launched innovative new products and once met rapper 50 Cent who told him “You must think you're pretty special.” He got nervous and instantly started sweating. In 2011, Alex was named one of the 200 Best Packaging Designers by Luerzers Archive. In 2013, he started sharing his story with speaking engagements at The Dieline Forum, AIGA INitiative, HOW Design Live and as a guest on Debbie Millman's famous Design Matters podcast. In 2014, Alex was named a Person To Watch by GDUSA Magazine. In 2015, he became a columnist for HOW Magazine, writing about the expanding landscape of In-House design. In 2016, he joined the AIGA In-house Initiative Steering committee, working to address the unique opportunities and challenges faced by the in-house community. Today, he leads the strategy and design vision for brands at Coca-Cola that include vitaminwater, smartwater & Powerade. In his personal time he enjoys rooting for New York sports teams that wear orange/blue, editing instagrams for far too long and searching for the freshest prosciutto in New York City.</p>
			<p>About <a href="http://interbrand.com/">Interbrand</a>:<br>With a network of 29 offices in 22 countries, Interbrand, a global brand agency, believes that growth is achieved when an organization has a clear strategy and delivers exceptional customer experiences. Interbrand’s combination of strategy, creativity, and technology makes it uniquely capable of driving the growth of its clients’ brands and businesses. Publisher of the highly influential annual Best Global Brands ranking and Webby Award-winning brandchannel, Interbrand is part of the Omnicom Group Inc. network of agencies.</p>
			<p><a href="http://cincinnati.aiga.org/event/keynote-alex-center-brought-to-you-by-interbrand/" class="button">Buy Your Ticket For This Event</a></p>
		</div>

		<div class="event" id="afterparty">
			<h3>Fri, Sept 30</h3>
			<h2>CDW Afterparty with Alex Center Brought To You By Interbrand</h2>
			<h4><a href="https://goo.gl/maps/ZmNk9gMmA822">Woodward Theater</a> | 8:00pm | FREE - $25</h4>
			<p>Come meet Alex Center after his event to hang out and join us as we celebrate another year of creativity and design at the CDW Finale.</p>
			<p>Enjoy some drinks and free appetizers, grab a photo & ask Alex some questions, meet your amazing AIGA Cincinnati board, and meet other attendees and those in the Creative community.</p>
			<p>Yes, we said free drinks and free appetizers. It's a celebration!</p>
			<p><strong>This event is FREE for those <em>that bought a ticket for the <a href="http://cincinnati.aiga.org/event/keynote-alex-center-brought-to-you-by-interbrand/">keynote event</a>.</em></strong></p>
			<p>This event is sponsored by Interbrand. Thank you for making the free drinks and food possible!</p>
			<p>About <a href="http://interbrand.com/">Interbrand</a>:<br>With a network of 29 offices in 22 countries, Interbrand, a global brand agency, believes that growth is achieved when an organization has a clear strategy and delivers exceptional customer experiences. Interbrand’s combination of strategy, creativity, and technology makes it uniquely capable of driving the growth of its clients’ brands and businesses. Publisher of the highly influential annual Best Global Brands ranking and Webby Award-winning brandchannel, Interbrand is part of the Omnicom Group Inc. network of agencies.</p>
			<p><a href="http://cincinnati.aiga.org/event/cdw-after-party-with-alex-center-brought-to-you-by-interbrand/" class="button">Buy Your Ticket For This Event</a></p>
		</div>




	</div>
</section>